<section  class='content mayus' >
    {%if atributo is not defined %}
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Atributo cargados</h3>
                <button type="button" class="btn btn-box-tool pull-right" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table id="tabla_consorcio" data-show-toggle="true" data-toggle="table" data-url="getAtributoAjax" 
                           data-side-pagination="server" data-search="true" data-pagination="true" data-page-list="[5, 10, 20, 50, 100, 200]" data-show-refresh="true" 
                           data-cache="false" data-height="auto" data-show-columns="true"  data-search-time-out="750" 
                           class="table table-responsive table-striped" data-page-size="20">
                        <thead>
                            <tr>
                                <th class="col-md-1" data-field="tipo" data-align="left" data-sortable="true">tipo</th>
                                <th class="col-md-1" data-field="nombre" data-align="left" data-sortable="true">nombre</th>
                                <th class="col-md-1" data-field="orden" data-align="left" data-sortable="true">orden</th>
                                <th class="col-md-1" data-field="acciones" data-align="left">Acciones</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    {%endif%}

    <button type="button" {{ atributo?"style='display:none'":""}} class="btn btn-success pull-right" onclick="$('#form_atributo').show();" >Nuevo Atributo</button>
    {% set atributos =  {"id" : "formatributo", "class" : "form-vertical"} %}
    {{ form_open("admin-atributo", atributos)|raw }}
    <div  class='box box-primary' id="form_atributo" {{not atributo ?"style='display:none'":""}}>
        <div  class='box-header' >
            <h3 class='box-title'>{{atributo ?"Editar":"Nuevo"}} Atributo</h3>
        </div>
        <div  class='box-body' >
            <div  class='col-md-3' >
                <div  class='form-group' >
                    <label >Tipo atributo</label>
                    <select  class='form-control'  name='atr_tipo' >
                        {% for ta in tipos %}
                            <option {{atributo.tipo.id==ta.id?"selected":""}} value='{{ ta.id}}'>{{ ta.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div  class='col-md-3' >
                <div  class='form-group' >
                    <label >nombre</label>
                    <input  class='form-control'  type='text'  value='{{atributo.nombre}}'  name='atr_nombre' />
                </div>
            </div>
            <div  class='col-md-3' >
                <div  class='form-group' >
                    <label >orden</label>
                    <input  class='form-control'  type='text'  value='{{atributo.orden}}'  name='atr_orden' />
                </div>
            </div>
            <div  class='col-md-12 pull-right' ><input  class='btn-sm btn-primary pull-right'  type='submit'  value='guardar' ></input>
            </div>
        </div>
    </div>
    <input  type='hidden'  value='{{atributo.id}}'  name='atr_id' ></input>
</form>
</section>
