<section class="invoice">
    <!-- title row -->
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-globe"></i> PaintNow Compra #{{compra.id}}

            </h2>
        </div>
        <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
            Cliente
            <address>
                <strong>{{compra.getComprador}}</strong><br>
            </address>
        </div>
    </div>
    <!-- /.row -->

    <!-- Table row -->
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Evento</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{compra.getEvento.getTitulo}}</td>
                        <td>{{compra.getcantidad}}</td>
                        <td>${{compra.getTotalCompra}}</td>
                        <td>{{renglon.getFechaIn|date("d/m/Y H:i:s")}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <a href="{{base_url("admin-compras")}}" class="btn btn-default">Volver a mis compras</a>

</section>
