<section  class='content mayus' >
    <div class="box box-primary ">
        <div class="box-header">
            <h3 class="box-title">Compras</h3>
            <button type="button" class="btn btn-box-tool pull-right" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
        <div class="box-body">
            <div id="toolbar">
                <div   role="form">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Marca</label>
                                    <select class="form-control" id="estado">
                                        <option  value='1'>Pagado</option>
                                        <option  value='0'>Falta de pago</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Eventos</label><br>
                                    <select class="form-control" id="eventos">
                                        <option value='0'>Todos</option>
                                        {% for cada_evento in eventos %}
                                            <option value='{{ cada_evento.getId}}'>{{ cada_evento.getTitulo}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button id="ok" type="button" class="btn btn-info">FILTRAR</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="table-responsive">
                <table id="tabla_producto" data-show-toggle="true" data-toggle="table" data-url="{{base_url("getComprasAjax")}}" 
                       data-side-pagination="server" data-sort-order="desc" data-search="true" data-pagination="true" data-page-list="[10, 50, 100, 200]" data-show-refresh="true" 
                       data-cache="false" data-height="auto" data-query-params="queryParams" data-show-columns="true"  data-search-time-out="750" 
                       class="table table-responsive table-striped" data-page-size="10">
                    <thead>
                        <tr>                               
                            <th class="col-md-1" data-field="com_id" data-align="left" data-sortable="true">Nro</th>
                            <th class="col-md-1" data-field="fecha" data-align="left" data-sortable="true">Fecha</th>
                            <th class="col-md-1" data-field="comprador" data-align="left" data-sortable="true">Comprador</th>
                            <th class="col-md-1" data-field="evento" data-align="left" data-sortable="true">Evento</th>
                            <th class="col-md-1" data-field="cantidad" data-align="left" data-sortable="true">Tickets</th>
                            <th class="col-md-1" data-field="total" data-align="left" data-sortable="true">Total</th>
                            <th class="col-md-1" data-field="estado" data-align="left" data-sortable="true">Estado</th>
                            <th class="col-md-1" data-field="com_acciones" data-align="left" data-sortable="true">Acciones</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    var $table = $('#tabla_producto');
    $ok = $('#ok');
    var form = $("#formproducto");

    $(function () {
        $table.bootstrapTable({
            onLoadSuccess: function (data) {
                
            }
        });
        $ok.click(function () {
            console.log('quiere refresh');
            $table.bootstrapTable('refresh');
        });
    });

    function queryParams(p) {
        var params = {};
        params['evento'] = $('#eventos').val();
        params['pagado'] = $('#estado').val();
        params['search'] = p.search;
        params['sort'] = p.sort;
        params['order'] = p.order;
        params['limit'] = p.limit;
        params['offset'] = p.offset;
        return params;
    }
    $(document).ready(function () {
        var options = {
            success: showResponse, // post-submit callback
            dataType: 'json', // 'xml', 'script', or 'json' (expected server response type)
            timeout: 10000
        };
        // bind to the form's submit event
        form.submit(function () {
            // inside event callbacks 'this' is the DOM element so we first
            // wrap it in a jQuery object and then invoke ajaxSubmit
            if (form.valid()) {
                $(this).ajaxSubmit(options);
            }

            // !!! Important !!!
            // always return false to prevent standard browser submit and page navigation
            return false;
        });
    });
    // post-submit callback
    function showResponse(responseText, statusText, xhr, $form) {
        notificar(responseText.mensaje, responseText.exito);
        if (responseText.exito == "success") {
            $table.bootstrapTable('refresh');
        }
    }
</script>