<div class="modal fade" id="login_modal" tabindex="0" role="dialog" data-backdrop="static" style="z-index: 1500;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <div class="row">
                    <div class="col-sm-12">
                        <button style="min-width: unset !important; padding: 5px;" type="button" class="close" data-dismiss="modal" aria-label="Close" style="text-align: right"><span aria-hidden="true">&times;</span></button>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-2">
                        <img style="height: 69px;" src="{{base_url("public/web")}}images/logo_hex.png">
                    </div>
                    <div class="col-sm-10">
                        <h3 class="modal-title" style="font-weight: bold">Identifícate</h3>
                    </div>
                </div>
            </div>
            <div class="modal-body">



                <div class="row" style="padding-bottom: 10px">
                    <div class="col-md-12">Introduce tus datos para ver los vídeos que ya has comprado</div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <form id="login_form" action="login.php" method="post" >
                            <div class="form-group">
                                <input type="text" class="form-control" name="email" placeholder="Email">
                            </div>

                            <div class="form-group">
                                <input type="password" class="form-control" name="password" placeholder="Contraseña" required>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <div id="remember-password-link"><a href="remember-password.html">¿Has olvidado tu contraseña?</a></div>
                    <div><button type="button" class="btn btn-primary" style="background-color: #29aae2 !important; border-color: #29aae2 !important;" onclick="$('#login_form').submit()">Entrar</button></div>
                </div>

            </div>
        </div>
    </div>
</div>