<div class="modal fade" id="email_modal" tabindex="0" role="dialog" data-backdrop="static" style="z-index: 1500;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <div class="row">
                    <div class="col-sm-12">
                        <button style="min-width: unset !important; padding: 5px;" type="button" class="close" data-dismiss="modal" aria-label="Close" style="text-align: right"><span aria-hidden="true">&times;</span></button>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-2">
                        <img style="height: 69px;" src="{{base_url("public/web")}}images/logo_hex.png">
                    </div>
                    <div class="col-sm-10">
                        <h3 class="modal-title" style="font-weight: bold">¡Ey! No compres todavía</h3>
                    </div>
                </div>
            </div>
            <div class="modal-body">



                <div class="row" style="padding-bottom: 10px">
                    <div class="col-md-12">Te mandamos un descuento para que te ahorres unos eurillos ;) si nos facilitas tu mail.</div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <form  >
                            <div class="form-group" id="nameField">
                                <input type="text" class="form-control" id="subscribeName" placeholder="Nombre">
                                <p class="help-block hidden" id="nameError">El nombre tiene que tener al menos 3 caracteres</p>
                            </div>

                            <div class="form-group" id="emailField">
                                <input type="email" class="form-control" id="subscribeEmail" placeholder="Correo electrónico" required>
                                <p class="help-block hidden" id="emailError">El email es inválido</p>
                            </div>

                            <div class="form-group" id="fbButton">


                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-solid" onclick="sendEmail('7i9e4Vrr45nZ', 'eB7RSegMa2')">Envíame el descuento</button>
            </div>
        </div>
    </div>
</div>