label.error {
    color: red;
    font-size: 12px;
}

.alert-success {
    color: #3c763d !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6;
    opacity:0.9 !important;
    z-index:1000;
}

.alert-danger {
    color: #a94442 !important;
    background-color: #f2dede !important;
    border-color: #ebccd1 !important;
    opacity:0.9 !important;
    z-index:1000;
}

.content {
    min-height: 100px;
}

.table-hover>tbody>tr:hover {
    background-color: lightblue;
}

.tab-content {
    min-height: 400px;
}

.texto-centrado {
    text-align: center !important;
}
.divider {
    border-bottom: 1px solid #f4f4f4;
    padding: 0;
    margin-bottom: 20px;
}

ul#sortable{
    list-style: none;
}

#etapax .renglones{
    margin-bottom: 10px;
}
.tabla_checked{
    background: #a2e282 !important;
}

span.select2-selection.select2-selection--single {
    border-radius: 0px;
    height: 34px;
}

.products-list .product-img img{
    width: 50px;
    height: auto;
}

.dashboard_cajas a{
    color:black;
}