<section  class='content mayus' >
    {%if contacto is not defined %}
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Consultas cargadas</h3>
                <button type="button" class="btn btn-box-tool pull-right" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table id="tabla_consorcio" data-show-toggle="true" data-toggle="table" data-url="getContactoAjax" 
                           data-side-pagination="server" data-search="true" data-pagination="true" data-page-list="[5, 10, 20, 50, 100, 200]" data-show-refresh="true" 
                           data-cache="false" data-height="auto" data-show-columns="true"  data-search-time-out="750" 
                           class="table table-responsive table-striped" data-page-size="20">
                        <thead>
                            <tr>
                                <th class="col-md-1" data-field="nombre" data-align="left" data-sortable="true">nombre</th>
                                <th class="col-md-1" data-field="email" data-align="left" data-sortable="true">email</th>                               
                                <th class="col-md-1" data-field="departamento" data-align="left" data-sortable="true">departamento</th>
                                <th class="col-md-1" data-field="tipo" data-align="left" data-sortable="true">tipo</th>
                                <th class="col-md-1" data-field="acciones" data-align="left">Acciones</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    {%endif%}
</section>
