<section  class='content mayus' >
    {%if descuento is not defined %}
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Descuentos del sistema</h3>
                <button type="button" class="btn btn-box-tool pull-right" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table id="tabla_consorcio" data-show-toggle="true" data-toggle="table" data-url="getDescuentoAjax" 
                           data-side-pagination="server" data-search="true" data-pagination="true" data-page-list="[5, 10, 20, 50, 100, 200]" data-show-refresh="true" 
                           data-cache="false" data-height="auto" data-show-columns="true"  data-search-time-out="750" 
                           class="table table-responsive table-striped" data-page-size="20">
                        <thead>
                            <tr>
                                <th class="col-md-1" data-field="tipo" data-align="left" data-sortable="true">tipo</th>
                                <th class="col-md-1" data-field="importe" data-align="left" data-sortable="true">importe</th>
                                <th class="col-md-1" data-field="descuento" data-align="left" data-sortable="true">porcentaje</th>
                                <th class="col-md-1" data-field="codigo" data-align="left" data-sortable="true">código</th>
                                <th class="col-md-1" data-field="acciones" data-align="left">Acciones</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    {%endif%}

    <button type="button" {{ descuento?"style='display:none'":""}} class="btn btn-success pull-right" onclick="$('#form_descuento').show();" >Nuevo Descuento</button>
    {% set atributos =  {"id" : "formdescuento", "class" : "form-vertical"} %}
    {{ form_open("admin-descuento", atributos)|raw }}
    <div  class='box box-primary' id="form_descuento" {{not descuento ?"style='display:none'":""}}>
        <div  class='box-header' >
            <h3 class='box-title'>{{descuento ?"Editar":"Nuevo"}} descuento</h3>
        </div>
        <div  class='box-body' >
            <div  class='col-md-3' >
                <div  class='form-group' >
                    <label >código</label>
                    <input  class='form-control'  type='text'  value='{{descuento.getCodigo}}'  name='des_codigo' />
                </div>
            </div>
            <div  class='col-md-3' >
                <div  class='form-group' >
                    <label >importe</label>
                    <input  class='form-control'  type='text'  value='{{descuento.getimporte}}'  name='des_importe' />
                </div>
            </div>
            <div  class='col-md-3' >
                <div  class='form-group' >
                    <label >% descuento</label>
                    <input  class='form-control'  type='text'  value='{{descuento.getDescuento}}'  name='des_descuento' />
                </div>
            </div>
            <div  class='col-md-12 pull-right' ><input  class='btn-sm btn-primary pull-right'  type='submit'  value='guardar' ></input>
            </div>
        </div>
    </div>
    <input  type='hidden'  value='{{descuento.id}}'  name='des_id' ></input>
</form>
</section>
