<section  class='content mayus' >
    {% set atributos =  {"id" : "formdescuento", "class" : "form-vertical"} %}
    {{ form_open("admin-tarjeta-regalo", atributos)|raw }}
    <div  class='box box-primary' >
        <div  class='box-header' >
            <h3 class='box-title'>{{descuento ?"Editar":"Nuevo"}} tarjeta de regalo</h3>
        </div>
        <div  class='box-body' >
            <div  class='col-md-3' >
                <div  class='form-group' >
                    <label >código</label>
                    <input  class='form-control'  type='text'  value='{{tarjeta_regalo.getCodigo}}'  name='des_codigo' />
                </div>
            </div>
            <div  class='col-md-3' >
                <div  class='form-group' >
                    <label >importe</label>
                    <input  class='form-control'  type='text'  value='{{tarjeta_regalo.getimporte}}'  name='des_importe' ></input>
                </div>
            </div>
            <div  class='col-md-12 pull-right' ><input  class='btn-sm btn-primary pull-right'  type='submit'  value='guardar' ></input>
            </div>
        </div>
    </div>
    <input  type='hidden'  value='{{tarjeta_regalo.id}}'  name='des_id' ></input>
</form>
</section>
