<div  class='box box-primary'>
    <div  class='box-header' >
        <h3 class='box-title'>Datos locador</h3>
    </div>
    <div  class='box-body' >
        <div class='col-md-3'>
            <div class='form-group' >
                <label>nombre</label>
                <input  class='form-control'  type='text'  value='{{contrato.getLocador_nombre()}}'  name='con_locador_nombre' />
            </div>
        </div>
        <div class='col-md-3'>
            <div class='form-group' >
                <label>apellido</label>
                <input  class='form-control'  type='text'  value='{{contrato.getLocador_apellido()}}'  name='con_locador_apellido' />
            </div>
        </div>
        <div class='col-md-3'>
            <div class='form-group' >
                <label>dni</label>
                <input  class='form-control'  type='text'  value='{{contrato.getLocador_dni()}}'  name='con_locador_dni' />
            </div>
        </div>
        <div class='col-md-3'>
            <div class='form-group' >
                <label>sexo</label>
                <select class="form-control" name="con_locador_sexo">
                    <option {{contrato.getLocador_sexo()=="femenino"?"selected":""}} value="femenino">femenino</option>
                    <option {{contrato.getLocador_sexo()=="masculino"?"selected":""}} value="masculino">masculino</option>
                </select>
            </div>
        </div>
        <div class='col-md-12'>
            <div class='form-group' >
                <label>dirección</label>
                <input  class='form-control'  type='text'  value='{{contrato.getLocatario_direccion()}}'  name='con_locador_direccion' />
            </div>
        </div>
    </div>
</div>