<div  class='box box-primary' >
    <div  class='box-header' >
        <h3 class='box-title'>Inmueble atributos</h3>
    </div>
    <div  class='box-body' >
        {%for cada_atributo in atributos_propiedades%}
            {% set checked = 0 %}
            {%for cada_atributo_usuario in contrato.getAtributos()%}    
                {%if cada_atributo_usuario.getAtributo().getId()==cada_atributo.getId()%}
                    {% set checked = 1 %}
                {%else%}
                {%endif%}
            {%endfor%}
            <div class="col-md-2">
                <label>{{cada_atributo.getNombre()}}</label>
                <input {{checked?"checked":""}} type="checkbox" name="vivienda_atributos[{{cada_atributo.getId()}}]" value="1"/>
            </div>
        {%endfor%}
    </div>
</div>
