<section  class='content mayus' >
    {%if contrato is not defined %}
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Contrato cargados</h3>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table id="tabla_consorcio" data-show-toggle="true" data-toggle="table" data-url="getContratoAjax" 
                           data-side-pagination="server" data-search="true" data-pagination="true" data-page-list="[5, 10, 20, 50, 100, 200]" data-show-refresh="true" 
                           data-cache="false" data-height="auto" data-show-columns="true"  data-search-time-out="750" data-sort-order="desc"
                           class="table table-responsive table-striped" data-page-size="20">
                        <thead>
                            <tr>
                                <th class="col-md-1" data-field="domicilio" data-align="left" data-sortable="true">domicilio</th>
                                <th class="col-md-1" data-field="m2" data-align="left" data-sortable="true">m2</th>
                                <th class="col-md-1" data-field="estado_inmueble" data-align="left" data-sortable="true">estado_inmueble</th>
                                <th class="col-md-1" data-field="atr_tipo_propiedad" data-align="left" data-sortable="true">atr_tipo_propiedad</th>
                                <th class="col-md-1" data-field="descripcion" data-align="left" data-sortable="true">descripcion</th>
                                <th class="col-md-1" data-field="email" data-align="left" data-sortable="true">email</th>
                                <th class="col-md-1" data-field="acciones" data-align="left">Acciones</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    {%endif%}

    <button type="button" {{ contrato?"style='display:none'":""}} class="btn btn-success pull-right" onclick="$('#form_contrato').show();" >Nuevo Contrato</button>
    {% set atributos =  {"id" : "formcontrato", "class" : "form-vertical"} %}
    {{ form_open("admin-contrato", atributos)|raw }}

    <div  class='box box-primary' id="form_contrato" {{not contrato ?"style='display:none'":""}}>
        <div  class='box-header' >
            <h3 class='box-title'>{{contrato ?"Editar":"Nuevo"}} contrato</h3>
        </div>
        <div  class='box-body' >
            <div class='col-md-3'>
                <div class='form-group' >
                    <label>m2</label>
                    <input  class='form-control'  type='text'  value='{{contrato.getM2}}'  name='con_m2' />
                </div>
            </div>
            <div  class='col-md-3' >
                <div  class='form-group' >
                    <label >estado inmueble</label>
                    <select class="form-control" name="vivienda_estado">
                        {%for cada_estado in estado_propiedades%}
                            <option {{cada_estado.getId()==contrato.getEstado_inmueble().getId()}} value="{{cada_estado.getId()}}">{{cada_estado.getNombre()}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>
            <div  class='col-md-3' >
                <div  class='form-group' >
                    <label >tipo propiedad</label>
                    <select class="form-control" name="vivienda_tipo">
                        {%for cada_tipo in tipo_propiedades%}
                            <option {{cada_tipo.getId()==contrato.getAtr_tipo_propiedad().getId()}} value="{{cada_tipo.getId()}}">{{cada_tipo.getNombre()}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>
            <div  class='col-md-3' >
                <div  class='form-group' >
                    <label >email</label>
                    <input  class='form-control'  type='text'  value='{{contrato.getEmail()}}'  name='con_email' />
                </div>
            </div>
            <div  class='col-md-3' >
                <div  class='form-group' >
                    <label >descripcion</label>
                    <textarea rows="5" class='form-control' name='con_descripcion' >{{contrato.getDescripcion()}}</textarea>
                </div>
            </div>
            <div  class='col-md-3' >
                <div  class='form-group' >
                    <label >tipo de pago</label>
                    <select class="form-control" name="con_tipo_pago">
                        <option value="{{constant("TIPO_PAGO_MENSUAL")}}">MENSUAL</option>
                        <option value="{{constant("TIPO_PAGO_ANUAL")}}">ANUAL</option>
                    </select>
                </div>
            </div>
            <div  class='col-md-3' >
                <div  class='form-group' >
                    <label>monto a pagar</label>
                    <input class='form-control' type='text' value='{{contrato.getAlquiler_valor()}}' name='con_monto' />
                </div>
            </div>
            <div  class='col-md-3' >
                <div  class='form-group' >
                    <label>pago entre el día</label>
                    <input class='form-control' type='number' value='{{contrato.getPago_primer_dia()}}' name='con_locacion_pago_intervalo_del' />
                </div>
            </div>
            <div  class='col-md-3' >
                <div  class='form-group' >
                    <label>pago hasta el día</label>
                    <input class='form-control' type='number' value='{{contrato.getPago_ultimo_dia()}}' name='con_locacion_pago_intervalo_al' />
                </div>
            </div>
            <div  class='col-md-3' >
                <div  class='form-group' >
                    <label >destino locación</label>
                    <select class="form-control" name="con_destino_locacion">
                        <option value="familiar">familiar</option>
                        <option value="comercial">comercial</option>
                    </select>
                </div>
            </div>
            <div  class='col-md-3' >
                <div  class='form-group' >
                    <label>fecha inicio contrato</label>
                    <input class='form-control datemask' type='text' value='{{contrato.getFecha_inicio_contrato()|date("d/m/Y")}}' name='con_fecha_inicio' />
                </div>
            </div>
            <div  class='col-md-3' >
                <div  class='form-group' >
                    <label>duración contrato (meses)</label>
                    <input class='form-control' type='number' value='{{contrato.getDuracion_contrato()}}' name='con_locacion_duracion' />
                </div>
            </div>
        </div>
    </div>
    {% include 'contrato/contrato_atributos.twig' %}
    {% include 'contrato/contrato_locador.twig' %}
    {% include 'contrato/contrato_locatario.twig' %}
    {% include 'evento/domicilio.twig' with{"domicilio":contrato.getDomicilio()}%}
    <div  class='col-md-12 pull-right' >
        <input  class='btn-sm btn-primary pull-right'  type='submit'  value='guardar'/>
    </div>
    <input  type='hidden'  value='{{contrato.id}}'  name='con_id' />
</form>
</section>
