<section  class='content mayus' >
    {%if lugar is not defined %}
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Lugar cargados</h3>
                <button type="button" class="btn btn-box-tool pull-right" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table id="tabla_consorcio" data-show-toggle="true" data-toggle="table" data-url="getLugarAjax" 
                           data-side-pagination="server" data-search="true" data-pagination="true" data-page-list="[5, 10, 20, 50, 100, 200]" data-show-refresh="true" 
                           data-cache="false" data-height="auto" data-show-columns="true"  data-search-time-out="750" 
                           class="table table-responsive table-striped" data-page-size="20">
                        <thead>
                            <tr>
                                <th class="col-md-1" data-field="nombre" data-align="left" data-sortable="true">nombre</th>
                                <th class="col-md-1" data-field="contacto_nombre" data-align="left" data-sortable="true">contacto_nombre</th>
                                <th class="col-md-1" data-field="contacto_email" data-align="left" data-sortable="true">contacto_email</th>
                                <th class="col-md-1" data-field="contacto_telefono" data-align="left" data-sortable="true">contacto_telefono</th>
                                <th class="col-md-1" data-field="capacidad_lugar" data-align="left" data-sortable="true">capacidad_lugar</th>
                                <th class="col-md-1" data-field="domicilio" data-align="left" data-sortable="true">domicilio</th>
                                <th class="col-md-1" data-field="privado" data-align="left" data-sortable="true">privado</th>
                                <th class="col-md-1" data-field="acciones" data-align="left">Acciones</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    {%endif%}

    <button type="button" {{ lugar?"style='display:none'":""}} class="btn btn-success pull-right" onclick="$('#form_lugar').show();" >Nuevo Lugar</button>
    <div id="form_lugar" {{not lugar ?"style='display:none'":""}}>
        {% set atributos =  {"id" : "formlugar", "class" : "form-vertical"} %}
        {{ form_open("admin-lugar", atributos)|raw }}
        <div  class='box box-primary' >
            <div  class='box-header' >
                <h3 class='box-title'>{{lugar ?"Editar":"Nuevo"}} Lugar</h3>
            </div>
            <div  class='box-body' >
                <div  class='col-md-3' >
                    <div  class='form-group' >
                        <label >nombre</label>

                        <input  class='form-control'  type='text'  value='{{lugar.nombre}}'  name='lug_nombre' ></input>

                    </div>

                </div>
                <div  class='col-md-3' >
                    <div  class='form-group' >
                        <label >contacto_nombre</label>

                        <input  class='form-control'  type='text'  value='{{lugar.contacto_nombre}}'  name='lug_contacto_nombre' ></input>

                    </div>

                </div>
                <div  class='col-md-3' >
                    <div  class='form-group' >
                        <label >contacto_email</label>

                        <input  class='form-control'  type='text'  value='{{lugar.contacto_email}}'  name='lug_contacto_email' ></input>

                    </div>

                </div>
                <div  class='col-md-3' >
                    <div  class='form-group' >
                        <label >contacto_telefono</label>

                        <input  class='form-control'  type='text'  value='{{lugar.contacto_telefono}}'  name='lug_contacto_telefono' ></input>

                    </div>

                </div>
                <div  class='col-md-3' >
                    <div  class='form-group' >
                        <label >capacidad_lugar</label>

                        <input  class='form-control'  type='text'  value='{{lugar.capacidad_lugar}}'  name='lug_capacidad_lugar' ></input>

                    </div>

                </div>
                <div  class='col-md-3' ><div  class='form-group' >
                        <label >es privado</label>
                        <input  class='form-group'  type='checkbox'  value='si'  name='lug_privado' />si
                    </div>
                </div>
            </div>
            {% include 'evento/domicilio.twig' with{"domicilio":lugar.getdomicilio}%}
            <div  class='col-md-12 pull-right' ><input  class='btn-sm btn-primary pull-right'  type='submit'  value='guardar' /></div>
        </div>
        <input  type='hidden'  value='{{lugar.id}}'  name='lug_id' ></input>
        </form>
    </div>
</section>
