<section  class='content mayus' >
    {%if {class_name_minus} is not defined %}
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">{class_name} cargados</h3>
                <button type="button" class="btn btn-box-tool pull-right" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table id="tabla_consorcio" data-show-toggle="true" data-toggle="table" data-url="get{class_name}Ajax" 
                           data-side-pagination="server" data-search="true" data-pagination="true" data-page-list="[5, 10, 20, 50, 100, 200]" data-show-refresh="true" 
                           data-cache="false" data-height="auto" data-show-columns="true"  data-search-time-out="750" 
                           class="table table-responsive table-striped" data-page-size="20">
                        <thead>
                            <tr>
                                {cabezales}
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    {%endif%}
    
    <button type="button" {{ {class_name_minus}?"style='display:none'":""}} class="btn btn-success pull-right" onclick="$('#form_{class_name_minus}').show();" >Nuevo {class_name}</button>
    {% set atributos =  {"id" : "form{class_name_minus}", "class" : "form-vertical"} %}
    {{ form_open("admin-{class_name_minus}", atributos)|raw }}
    <div  class='box box-primary' id="form_{class_name_minus}" {{not {class_name_minus} ?"style='display:none'":""}}>
            <div  class='box-header' >
                <h3 class='box-title'>{{{class_name_minus} ?"Editar":"Nuevo"}} {class_name}</h3>
            </div>
            <div  class='box-body' >
                {controles}
                <div  class='col-md-12 pull-right' ><input  class='btn-sm btn-primary pull-right'  type='submit'  value='guardar' ></input>
                </div>
            </div>
        </div>
        <input  type='hidden'  value='{{{class_name_minus}.id}}'  name='{prefijo}id' ></input>
    </form>
</section>
