{% extends "panel_admin.twig" %}
{% block contentBody %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Nuevo Formulario
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12" >
                                {% set atributos =  {"id" : "formMaker"} %}
                                {{ form_open("nuevo_form", atributos)|raw }}
                                <div id="form_dinamico">
                                    <div class="row">
                                        <div class="col-md-12" >
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Genera tabla</label>
                                                    <input type="checkbox" name="genera_tabla" checked value="1"/>
                                                </div>
                                            </div>
                                            <div class="col-md-2">

                                                <div class="form-group">
                                                    <label>Nombre clase</label>
                                                    <input type="text" name="clase_nombre" required="true" placeholder="nombre clase" class="form-control ">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Control</label>
                                                    <select name="tipo_control" id="tipo_control" class="form-control">
                                                        <option disabled selected >Elegir control</option>
                                                        <option>select</option>
                                                        <option>text</option>
                                                        <option>checkbox</option>
                                                        <option>radio</option>
                                                        <option>multiSelect</option>
                                                        <option>textArea</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>&nbsp;</label>
                                                    <button type="button" onclick="btn_tipo_control()"  class="btn btn-default form-control" >Nuevo control</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-success pull-right" value="Generar" />    
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block footer %}
    {{ parent() }}
    {{ include('scripts_maker.twig') }}
{% endblock %}