{% extends "default.twig" %}

{% block content %}
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">{{ title }}</h3>
            </div>
            <div class="box-body">
                {% block contentBody %}
                {% endblock %}
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                {% block contentFooter %}
                {% endblock %}
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->

    {% block Formulario %}
    {% endblock %}
{% endblock %}


