{% extends "panel_admin.twig" %}

{% set nombreTabla = "tablaPermisos" %}

{% block contentBody %}
    <table class="table table-striped" id="{{ nombreTabla }}" data-url="getpermisos"
           data-height="auto"
           data-pagination="true"
           data-search="true"
           data-refresh="true"
           data-show-refresh="true"
           data-show-columns="true">
        <thead>
        <tr>
            <th data-field="id" data-sortable="true">Id</th>
            <th data-field="nombre" data-sortable="true">Nombre</th>
            <th data-field="descripcion" data-sortable="true">Descripción</th>
        </tr>
        </thead>
    </table>

    <ul id="context-menu" class="dropdown-menu">
        <li data-item="edit"><a>Editar</a></li>
        <li data-item="delete"><a>Borrar</a></li>
    </ul>
{% endblock %}

{% block contentFooter %}
    <div class="box-header">
        <h3 class="box-title">Formulario de permisos</h3>
    </div>
    {% set atributos =  {"id" : "formPermisos", "class" : "form-horizontal"} %}
    {{ form_open("admin/permisos_controller/save", atributos)|raw }}
    <input type="hidden" name="id" value="0" id="id" required>
    <div class="form-group">
        <label for="nombre" class="col-sm-2 control-label">Nombre</label>
        <div class="col-sm-4">
            <input type="text" name="nombre" class="form-control" id="nombre" placeholder="Nombre permiso..." required
                   maxlength="40">
        </div>
        <label for="descripcion" class="col-sm-2 control-label">Descripción</label>
        <div class="col-sm-4">
            <input type="text" name="descripcion" class="form-control" id="descripcion" placeholder="Descripción permiso..." required
                   maxlength="40">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success pull-right">Guardar</button>
            <a href="javascript:void(0);" class="btn btn-info pull-right" onclick="limpiarForm();return false;"
               style="margin-right: 5px;">Nuevo</a>
        </div>
    </div>
    </form>
{% endblock %}

{% block footer %}
    {{ parent() }}
    <script>
        var table = $("#{{ nombreTabla }}");
        var id = $("#id");
        var nombre = $("#nombre");
        var descripcion = $("#descripcion");
        var form = $("#formPermisos");

        $(function () {
            table.bootstrapTable({
                contextMenu: '#context-menu',
                onClickRow: function (row, $el) {
                    table.find('.danger').removeClass('danger');
                    $el.addClass('danger');
                },
                onContextMenuItem: function (row, $el) {
                    if ($el.data("item") == "edit") {
                        completarForm(row);
                        nombre.focus();
                    }
                    if ($el.data("item") == "delete") {
                        avisar(row.id);

                    }
                }
            });
        });


        function completarForm(row) {
            id.val(row.id);
            nombre.val(row.nombre);
            descripcion.val(row.descripcion);
        }

        function avisar(id) {
            swal({
                    title: "Está seguro?",
                    text: "Los registros se perderán para siempre!",
                    type: "warning",
                    showCancelButton: true,
                    cancelButtonText: "Cancelar",
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Si, borrar!",
                    closeOnConfirm: false
                },
                function (isConfirm) {
                    if (isConfirm) {
                        destroy(id);
                    }
                    swal.close();
                });
        }

        function limpiarForm() {
            id.val(0);
            form[0].reset();
        }

        function destroy(id) {
            url = "{{ base_url("admin/permisos_controller/destroy") }}" + "/" + id;
            $.get(url, function (data) {
                notificar(data.mensaje, data.success);
                table.bootstrapTable("refresh");
            }, "json");
        };

        $(document).ready(function () {
            var options = {
                //beforeSubmit: showRequest, // pre-submit callback
                success: showResponse, // post-submit callback

                // other available options:
                //url:       url         // override for form's 'action' attribute
                //type:      type        // 'get' or 'post', override for form's 'method' attribute
                dataType: 'json', // 'xml', 'script', or 'json' (expected server response type)
                //clearForm: true        // clear all form fields after successful submit
                //resetForm: true        // reset the form after successful submit

                // $.ajax options can be used here too, for example:
                timeout: 10000
            };


            // bind to the form's submit event
            form.submit(function () {
                // inside event callbacks 'this' is the DOM element so we first
                // wrap it in a jQuery object and then invoke ajaxSubmit
                if (form.valid()) {
                    $(this).ajaxSubmit(options);
                }

                // !!! Important !!!
                // always return false to prevent standard browser submit and page navigation
                return false;
            });
        });

        // post-submit callback
        function showResponse(responseText, statusText, xhr, $form) {
            notificar(responseText.mensaje, responseText.success);
            table.bootstrapTable("refresh");
            limpiarForm();
        }
    </script>
{% endblock %}