<div  class='box box-primary ' >
    <div  class='box-header' >
        <h3 class='box-title'>Datos bancarios</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapsein">
                <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                <i class="fa fa-times"></i></button>
        </div>
    </div>
    <div  class='box-body' >
        <div  class='col-md-3' >
            <div  class='form-group' >
                <label >cbu</label>
                <input  class='form-control cbumask'  type='text'  value='{{cuentabanco.cbu}}'  name='cue_cbu' ></input>
            </div>
        </div>
        <div  class='col-md-3' >
            <div  class='form-group' >
                <label >cbu alias</label>
                <input  class='form-control'  type='text'  value='{{cuentabanco.cbu_alias}}'  name='cue_cbu_alias' ></input>
            </div>
        </div>
        <div  class='col-md-3' >
            <div  class='form-group' >
                <label >jubilado nro beneficiario</label>
                <input  class='form-control'  type='text'  value='{{cuentabanco.benefio_nro}}'  name='benefio_nro' ></input>
            </div>
        </div>
        <div  class='col-md-3' >
            <div  class='form-group' >
                <label >numero cuenta</label>

                <input  class='form-control'  type='text'  value='{{cuentabanco.numero}}'  name='cue_numero' ></input>

            </div>

        </div>
        <div  class='col-md-3' >
            <div  class='form-group' >
                <label >cuit titular</label>
                <input  class='form-control cuitmask'  type='text'  value='{{cuentabanco.cuit_titular}}'  name='cue_cuit_titular' ></input>
            </div>
        </div>
        <div  class='col-md-3' >
            <div  class='form-group' >
                <label >nombre titular</label>

                <input  class='form-control'  type='text'  value='{{cuentabanco.nombre_titular}}'  name='cue_nombre_titular' ></input>

            </div>

        </div>
        <div  class='col-md-3' >
            <div  class='form-group' >
                <label >tipo_cuenta</label>

                <select  class='form-control'  name='cue_tipo_cuenta' >
                    <option {{cuentabanco.tipo_cuenta=="caja ahorro"?"selected":""}}   value='caja ahorro' >caja ahorro</option>
                    <option {{cuentabanco.tipo_cuenta=="cuenta corriente"?"selected":""}} value='cuenta corriente' >cuenta corriente</option>
                </select>

            </div>

        </div>
        <div  class='col-md-3' >
            <div  class='form-group' >
                <label >banco</label>
                <select  class='form-control'  name='cue_banco' >
                    {% for banco in bancos %}
                        <option {{cuentabanco.banco.id==banco.id?"selected":""}} value='{{ banco.id}}'>{{ banco.nombre}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>

