<section  class='content mayus' >
    {%if artista is not defined %}
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Artista cargados</h3>
                <button type="button" class="btn btn-box-tool pull-right" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table id="tabla_consorcio" data-show-toggle="true" data-toggle="table" data-url="getArtistaAjax" 
                           data-side-pagination="server" data-search="true" data-pagination="true" data-page-list="[5, 10, 20, 50, 100, 200]" data-show-refresh="true" 
                           data-cache="false" data-height="auto" data-show-columns="true"  data-search-time-out="750" 
                           class="table table-responsive table-striped" data-page-size="20">
                        <thead>
                            <tr>
                                <th class="col-md-1" data-field="nombre" data-align="left" data-sortable="true">nombre</th>
                                <th class="col-md-1" data-field="apellido" data-align="left" data-sortable="true">apellido</th>
                                <th class="col-md-1" data-field="telefono" data-align="left" data-sortable="true">telefono</th>
                                <th class="col-md-1" data-field="email" data-align="left" data-sortable="true">email</th>
                                <th class="col-md-1" data-field="descripcion" data-align="left" data-sortable="true">descripcion</th>
                                <th class="col-md-1" data-field="notas" data-align="left" data-sortable="true">notas</th>
                                <th class="col-md-1" data-field="licencia" data-align="left" data-sortable="true">licencia</th>
                                <th class="col-md-1" data-field="domicilio" data-align="left" data-sortable="true">domicilio</th>
                                <th class="col-md-1" data-field="banco" data-align="left" data-sortable="true">banco</th>
                                <th class="col-md-1" data-field="disponible" data-align="left" data-sortable="true">disponible</th>
                                <th class="col-md-1" data-field="acciones" data-align="left">Acciones</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    {%endif%}

    <button type="button" {{ artista?"style='display:none'":""}} class="btn btn-success pull-right" onclick="$('#form_artista').show();" >Nuevo Artista</button>
    <div id="form_artista" {{not artista ?"style='display:none'":""}}>
        {% set atributos =  {"id" : "formartista", "class" : "form-vertical"} %}
        {{ form_open_multipart("admin-artista", atributos)|raw }}
        <div  class='box box-primary' >
            <div  class='box-header' >
                <h3 class='box-title'>{{artista ?"Editar":"Nuevo"}} Artista</h3>
            </div>
            <div  class='box-body' >
                <div  class='col-md-3' >
                    <div  class='form-group' >
                        <label >nombre</label>

                        <input  class='form-control'  type='text'  value='{{artista.nombre}}'  name='art_nombre' ></input>

                    </div>

                </div>
                <div  class='col-md-3' >
                    <div  class='form-group' >
                        <label >apellido</label>

                        <input  class='form-control'  type='text'  value='{{artista.apellido}}'  name='art_apellido' ></input>

                    </div>

                </div>
                <div  class='col-md-3' >
                    <div  class='form-group' >
                        <label >telefono</label>

                        <input  class='form-control'  type='text'  value='{{artista.telefono}}'  name='art_telefono' ></input>

                    </div>

                </div>
                <div  class='col-md-3' >
                    <div  class='form-group' >
                        <label >email</label>

                        <input  class='form-control'  type='text'  value='{{artista.email}}'  name='art_email' ></input>

                    </div>

                </div>
                <div  class='col-md-3' >
                    <div  class='form-group' >
                        <label >descripcion</label>

                        <input  class='form-control'  type='text'  value='{{artista.descripcion}}'  name='art_descripcion' ></input>

                    </div>

                </div>
                <div  class='col-md-3' >
                    <div  class='form-group' >
                        <label >notas</label>
                        <input  class='form-control'  type='text'  value='{{artista.notas}}'  name='art_notas' ></input>
                    </div>
                </div>
                <div  class='col-md-3' >
                    <div  class='form-group' >
                        <label >licencia</label>
                        <select  class='form-control'  name='art_licencia' >
                            {%for cada_licencia in licencias%}
                                <option value="{{cada_licencia.getid}}">{{cada_licencia.getNombre}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
                <div  class='col-md-3' >
                    <div  class='form-group' ><label >está disponible</label>
                        <input  class='form-group'  type='checkbox'  value='1'  name='art_disponible' />si
                    </div>
                </div>
            </div>
            {% include 'pfoto/galeria_foto.twig' with {'cant_fotos':1,"producto":artista} %}
            {% include 'artista/artista_banco.twig' with{"cuentabanco":artista.getBanco}%}
            {% include 'evento/domicilio.twig' with{"domicilio":artista.getdomicilio}%}
            <div  class='col-md-12 pull-right' ><input  class='btn-sm btn-primary pull-right'  type='submit'  value='guardar' /></div>
        </div>
        <input  type='hidden'  value='{{artista.id}}'  name='art_id' ></input>
        </form>
    </div>
</section>
