<style>
    .imageUp {
        position: relative;
        min-height: 180px;
        display: block;
    }

    .imageUp>img {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 85%;
        max-height: 90%;
    }
</style>
<div  class='box box-primary' >
    <div  class='box-header' >
        <h3 class='box-title'>Fotos (máximo {{cant_fotos}})</h3>
    </div>
    <div  class='box-body' >
        <ul id="sortable" class="galeria_fotos_admin">
            {% set cant_fotos_actuales = 0 %}
            {%if producto and producto.getLinkFoto%}
                {% set cant_fotos_actuales = 1 %}
                <li class="col-sm-6  col-md-2 fotoPrincipal">
                    <a href="#" class="imageUp">
                        <img src="{{producto.getLinkFoto}}" class="img-responsive" alt="cargar Foto" />
                    </a>
                    <input type='file' class="imgInp" style="opacity: 0; position: absolute; top: 0px; z-index: -1;" name="foto[]" accept="image/x-png, image/jpeg, image/png" />
                    <input type="hidden" name="foto_id[0][id]"  class="foto_id" value="{{producto.id}}">
                    <input type="hidden" name="foto_id[0][orden]"   class="foto_orden" value="1">
                    <input type="hidden" name="borrada[0]" value="0" class="borrada">
                    <a href="#" class="btn btn-danger borrarFoto"  >Borrar</a>
                </li>
            {%endif%}
            {% set cantidadFotos = cant_fotos-cant_fotos_actuales %}
            {% if cantidadFotos %}
                {% for x in 1..cantidadFotos %}
                    <li class="col-sm-6  col-md-2 fotoPrincipal">
                        <a href="#" class="imageUp">
                            <img src="{{base_url("public/img/icono_foto.png")}}" class="img-responsive" alt="cargar Foto" />
                        </a>
                        <input type='file' class="imgInp" style="opacity: 0; position: absolute; top: 0px; z-index: -1;" name="foto[]" accept="image/x-png, image/jpeg, image/png" />
                        <input type="hidden" name="foto_id[]" value="0" class="foto_id">
                        <input type="hidden" name="borrada[]" value="0" class="borrada">
                        <a href="#" class="btn btn-danger borrarFoto" style="display: none;">Borrar</a>
                    </li>
                {% endfor %}
            {%endif%}
        </ul>
    </div>
</div>
{% include 'pfoto/scripts_imagenes.twig' %}