<!-- antes-->
<script>
    function readURL(input, image) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                image.attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    ;
    $(".imageUp").click(function (event) {
        event.preventDefault();
        var input = $(this).parent().find(".imgInp");
        input.trigger('click');
        var borrada = $(this).parent().find(".borrada");
        borrada.val(1);
    });

    $(".imgInp").change(function () {
        var image = $(this).parent().find(".imageUp").find("img");
        readURL(this, image);
        var borrar = $(this).parent().find(".borrarFoto").show();
    });
    $(".borrarFoto").click(function (event) {       
        event.preventDefault();
        var borrada = $(this).parent().find(".borrada");
        borrada.val(1);
        var image = $(this).parent().find(".imageUp").find("img");
        var input = $(this).parent().find(".imgInp");
        image.attr('src', "{{base_url}}../public/img/icono_foto.png");
        image.attr("class", "img-responsive");
        image.css('width', '');
        image.css('height', '');
        input.val("");
        $(this).hide();
    });
</script>
<style>
    #sortable { list-style-type: none;}
    #sortable li {}
</style>
<script>
    $(function () {
        $("#sortable").sortable();
        $("#sortable").disableSelection();
    });
</script>