{% extends "panel_admin.twig" %}

{% block contentBody %}
    <div id="calendar" style="padding:20px;"></div>
{% endblock %}






{% block Formulario %}
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Alta y edición de feriados</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                {% set atributos =  {"id" : "formFeriados", "class" : "form-horizontal"} %}
                {{ form_open("admin/feriado_controller/save", atributos) }}
                <input type="hidden" name="id" value="0" id="id" required>
                <div class="form-group">
                    <label for="nombre" class="col-sm-2 control-label">Descripción</label>
                    <div class="col-sm-4">
                        <input type="text" name="descripcion" class="form-control" id="descripcion"
                               placeholder="Descripción del feriado..."
                               required
                               maxlength="40">
                    </div>
                    <label for="activo" class="col-sm-2 control-label">Fecha</label>
                    <div class="col-sm-4">
                        {{ form_date("fecha","","","fecha") }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="activo" class="col-sm-2 control-label">Movible</label>
                    <div class="col-sm-4">
                        <select class="form-control" name="movible" id="movible">
                            <option value="0">NO</option>
                            <option value="1">SI</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success pull-right">Guardar</button>
                        <a href="javascript:void(0);" class="btn btn-info pull-right" onclick="limpiarForm();
                    return false;"
                           style="margin-right: 5px;">Nuevo</a>
                    </div>
                </div>
                {{ form_close() }}
            </div>
            <!-- /.box-body -->
            <div class="box-footer">

            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
{% endblock %}

{% block footer %}
    {{ parent() }}
    <link rel='stylesheet' href='{{ base_url("public/js/fullcalendar/fullcalendar.min.css") }}'/>
    <script src='{{ base_url('public/js/fullcalendar/lib/moment.min.js') }}'></script>
    <script src='{{ base_url('public/js/fullcalendar/fullcalendar.min.js') }}'></script>
    <script src='{{ base_url('public/js/fullcalendar/locale/es.js') }}'></script>
    <script src='{{ base_url('public/js/feriados/feriado.js') }}'></script>

    <style>
        .bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
            background-color: #fcf8e3 !important;
        }
    </style>


{% endblock %}

