<section  class='content mayus' >
    {%if empresa is not defined %}
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Empresa cargados</h3>
                <button type="button" class="btn btn-box-tool pull-right" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table id="tabla_consorcio" data-show-toggle="true" data-toggle="table" data-url="getEmpresaAjax" 
                           data-side-pagination="server" data-search="true" data-pagination="true" data-page-list="[5, 10, 20, 50, 100, 200]" data-show-refresh="true" 
                           data-cache="false" data-height="auto" data-show-columns="true"  data-search-time-out="750" 
                           class="table table-responsive table-striped" data-page-size="20">
                        <thead>
                            <tr>
                                <th class="col-md-1" data-field="nombre" data-align="left" data-sortable="true">nombre</th>
<th class="col-md-1" data-field="acciones" data-align="left">Acciones</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    {%endif%}
    
    <button type="button" {{ empresa?"style='display:none'":""}} class="btn btn-success pull-right" onclick="$('#form_empresa').show();" >Nuevo Empresa</button>
    {% set atributos =  {"id" : "formempresa", "class" : "form-vertical"} %}
    {{ form_open("admin-empresa", atributos)|raw }}
    <div  class='box box-primary' id="form_empresa" {{not empresa ?"style='display:none'":""}}>
            <div  class='box-header' >
                <h3 class='box-title'>{{empresa ?"Editar":"Nuevo"}} Empresa</h3>
            </div>
            <div  class='box-body' >
                <div  class='col-md-3' >
<div  class='form-group' >
<label >nombre</label>

<input  class='form-control'  type='text'  value='{{empresa.nombre}}'  name='emp_nombre' ></input>

</div>

</div>

                <div  class='col-md-12 pull-right' ><input  class='btn-sm btn-primary pull-right'  type='submit'  value='guardar' ></input>
                </div>
            </div>
        </div>
        <input  type='hidden'  value='{{empresa.id}}'  name='emp_id' ></input>
    </form>
</section>
