{% extends "web_template.twig" %}
{% block content %}   
    <section class="animated fadeIn">
        <article class="group-event-detail-article clearfix">
            <style>article.group-event-detail-article.clearfix { padding: 0px; } /* removing header image padding */
                .content-wrapper {padding: 0px 28px!important;}
                header {display: none;}
                .right-pocket.zoho-embed { background:transparent!important; } /* form container */
                div#crmWebToEntityForm form table { background: transparent!important; } /* form table */
                header {display: none;}
                .right-pocket.zoho-embed h4 { text-transform: uppercase; font-weight: 100!important; font-size: 26px!important; color: #585858!important;}
                form strong {display:none;}
                .imgLeft {float: left!important; margin-right: 30px;}
                .imgRight {float: right!important; margin-right: 30px;}
                h3 {color: #f05858;  font-size: 28px; text-transform:uppercase; }
                h3.green {color: #8bc543;  font-size: 28px; text-transform:uppercase; margin-top:40px }
                .groupevents_soloitem, .groupevents1 {line-height:2;font-size:17px;}
                .groupevents_soloitem {padding-top:14px; display: block;  }
                .groupevents1 strong {color: #585858; }
                .groupevents_soloitem div {display: block;position: relative;}
                .imgProcess {max-width: 445px; margin:30px 0px 40px;}
                .groupevents_soloitem p {margin-top:16px; font-style:italic;}
                .groupevents_soloitem p span {display:block; font-style:normal;}

                @media screen and (max-width:1010px) {
                    .imgLeft, .imgRight, .infoitem, .infoplus {float: none!important; display:block!important;}
                    h3.greeninfo {text-align:left!important;}
                }
            </style>

            <div class="content-wrapper sc-content">
                <h4></h4>
                <p>

                <p class="groupevents1">Rompe la rutina del día a día y organiza con PaintNow. Fomentamos la creatividad, el espíritu de superación y la consolidación de equipos a través de la pintura.</p>

                <p class="groupevents_soloitem"><h3>¡Sin complicaciones!</h3>Déjalo todo en nuestras manos: nos encargamos de buscar un sito bonito y el cuadro perfecto, adaptándonos a vuestros gustos para diseñar el evento ideal para tu empresa.</p>

                <h3 class="green"> El proceso es muy sencillo</h3>
                <!--<img src="images/corporate-steps.png" class="imgProcess"> -->

            </div>



            <div class="right-pocket zoho-embed" style="max-width:600px;margin:auto;padding: 20px;">
                <h4>Pide información para tu evento privado</h4>
                <span class="half first-half">

                    <div id="form" style="margin:auto;">

                        {% set atributs =  {"id" : "eventos-para-empresas", "class" : ""} %}
                        {{ form_open("contacto", atributos)|raw }}
                        <input type="hidden"  name="redirect" value="/corporate-events.php">
                        <label class="side-form" for="name">Nombre</label>
                        <input type="text" maxlength="40" name="name" required>

                        <label class="side-form" for="email">Correo electrónico</label>
                        <input type="email" maxlength="40" name="email" required>

                        <label class="side-form" for="company">Empresa</label>
                        <input type="text" maxlength="40" name="company">

                        <label class="side-form" for="event_date">Posible fecha del evento</label>
                        <input type="date" maxlength="40" name="event_date">

                        <label class="side-form" for="capacity">Número aproximado de invitados</label>
                        <input type="number" maxlength="3" min="0" name="capacity">

                        <label class="side-form" for="city">Ciudad</label>
                        <input type="text" maxlength="40" name="city" required>

                        <input class="side-form" type="submit" value="Enviar">

                        </form>

                    </div>

                </span>

                <footer>Necesitamos un depósito completo para reservar la fecha y lugar. Los depósitos son reembolsables siempre que la cancelación se produzca en el plazo de 15 días antes del evento.</footer>
            </div>
        </article>
    </section>
    <script type="text/javascript">
        $(document).ready(function () {
        {%if estado%}
                notificar({cuerpo: 'Mensaje enviado exitosamente!!', tipo: 'success', title: 'Perfecto'});
        {%endif%}
            });
    </script>
{% endblock %}
