{% extends "web_template.twig" %}
{% block content %}   
    <section class="hero-section_default" style="background-image:url('{{base_url("public/web/")}}img/back.jpg')">
        <div class="inner-content">
            <div class="hero-section__text">
                <h1 class="title-big">Contrato de Alquiler</h1>
                <div class="list-wrapper">
                    <ul class="check-list">
                        <div class="check-list__inner">
                            <li>Generá al momento un Contrato</li>
                            <li>Asegurate que no falte nada que luego lamentes</li>
                        </div>
                    </ul>
                    <ul class="check-list">
                        <div class="check-list__inner">
                            <li>Te sugerimos un precio de alquiler</li>
                            <li>Podemos averiguar por vos todos los datos de tu inquilino</li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="valuation-section">
        <div class="container">
            <div class="wrapper">
                <ul class="steps">
                    <li class="is-active">Datos de la Vivienda</li>
                    <li>Datos del Propietario</li>
                    <li>Datos del Inquilino</li>
                    <li>Datos del Contrato</li>
                </ul>
                <form class="form-wrapper" id="form_contrato_alquiler">
                    <fieldset class="section is-active ">
                        <h3>Introduce los datos de tu vivienda</h3>
                        <div class="input-default ui-widget">
                            <label for="inputStreet">Direcci&oacute;n</label>
                            <input type="hidden" name="calle" id="vivienda_calle"/>
                            <input type="hidden" name="altura" id="vivienda_altura"/>
                            <input type="hidden" name="cod_postal" id="vivienda_codigo_postal"/>
                            <input type="hidden" name="cityLat" id="vivienda_latitud"/>
                            <input type="hidden" name="cityLng" id="vivienda_longitud"/>
                            <input type="hidden" name="pais" id="vivienda_pais"/>
                            <input type="hidden" name="barrio" id="vivienda_barrio"/>
                            <input type="hidden" name="localidad" id="vivienda_localidad"/>
                            <input type="hidden" name="city2" id="vivienda_ciudad"/>
                            <input maxlength="252" id="inputStreet" class="street_input"  placeholder="Por ejemplo: Piedras 141, capital federal" type="text" name="home[Home][street]" autocomplete="off"/>
                        </div>
                        <div class="input-default ui-widget" style='margin-bottom: 10px'>
                            <div id="map_vivienda" style="display:none;width: 100%;height: 300px;"></div>
                            <iframe id='iframe_mapa' src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.0238140480874!2d-58.53798058473508!3d-34.578263980466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb7744076c1b3%3A0x59f4ce3b207a580!2sDiana+Hernan+Real+Estate+Study!5e0!3m2!1sen!2sar!4v1511444525949" width="400" height="300" frameborder="0" style="border:0; width:100%; padding-bottom: 20px" allowfullscreen></iframe>
                        </div>
                        <div class="input-default telephone">
                            <label for="area-total">Superficie total (m2)</label>
                            <input  maxlength="9" id="area-total" required="required" placeholder="En metros cuadrados" error-tag="span" error-class="form-error" error-content="Este campo es obligatorio" type="text" name="con_m2" value="" class="form-control" />
                        </div>
                        <div class="input-default ui-widget">
                            <h3>Tipo de Propiedad</h3>
                            <select  name='vivienda_tipo' class="form-control">
                                {%for cada_tipo in tipo_propiedades%}
                                    <option value="{{cada_tipo.getId}}">{{cada_tipo.getNombre}}</option>
                                {%endfor%}
                            </select>
                        </div> 
                        <div class="input-default ui-widget">
                            <h3>Estado de Propiedad</h3>
                            <select  name='vivienda_estado' class="form-control">
                                {%for cada_estado in estado_propiedades%}
                                    <option value="{{cada_estado.getId}}">{{cada_estado.getNombre}}</option>
                                {%endfor%}
                            </select>
                        </div> 
                        <div class="input-default ui-widget">
                            <h3>Descripción del Inmueble</h3>
                            <input maxlength="252" id="inputStreet" class="ui-autocomplete-input" placeholder="Descripción" type="text" name="con_descripcion" />
                            <div class="row cf" style="padding-bottom: 35px;">
                                {%for cada_atributo in atributos_propiedades%}
                                    <!--<div class="four col">        -->
                                    <label class="control__indicator control--checkbox">{{cada_atributo.getNombre}}
                                        <input type="checkbox" name="vivienda_atributos[{{cada_atributo.getId}}]"/>
                                        <div class="control__indicator"></div>
                                    </label>
                                    <!--</div>-->
                                {%endfor%}
                            </div>
                            <div class="row cf">
                                <div class="button">Siguiente</div>
                            </div>
                    </fieldset>
                    <fieldset class="section section_hidden">
                        <h3>Introduce los datos del Locador</h3>

                        <div class="input-default ">
                            <label for="area-total">Nombre</label><input  maxlength="9" id="area-total" required="required" placeholder="Nombre" error-tag="span" error-class="form-error" error-content="Este campo es obligatorio" type="text" name="con_locador_nombre" value="" class="form-control">
                        </div>
                        <div class="input-default ">
                            <label for="area-total">Apellido</label><input maxlength="9" id="area-total" required="required" placeholder="Apellido" error-tag="span" error-class="form-error" error-content="Este campo es obligatorio" type="text" name="con_locador_apellido" value="" class="form-control">
                        </div>
                        <div class="input-default ">
                            <label for="area-total">DNI</label><input  maxlength="8" id="area-total" required="required" placeholder="DNI" error-tag="span" error-class="form-error" error-content="Este campo es obligatorio" type="text" name="con_locador_dni" value="" class="form-control">
                        </div>
                        <div class="input-default ">
                            <label for="area-total">Teléfono</label><input required="required" placeholder="Ej:1140878965" error-tag="span" error-class="form-error" error-content="Este campo es obligatorio" type="text" name="con_locador_telefono" value="" class="form-control">
                        </div>
                        <div class="col-md-6" style="margin-bottom: 10px;">
                            <label for="area-total">Sexo</label>
                            <select  name="con_locador_sexo" >
                                <option value="femenino">Femenino</option>
                                <option value="masculino">Masculino</option>
                            </select>
                        </div>
                        <div class="input-default ">
                            <label for="inputStreet">Dirección</label>
                            <input type="hidden" name="locador_calle" id="locador_calle"/>
                            <input type="hidden" name="locador_altura" id="locador_altura"/>
                            <input type="hidden" name="locador_codigo_postal" id="locador_codigo_postal"/>
                            <input type="hidden" name="locador_latitud" id="locador_latitud"/>
                            <input type="hidden" name="locador_longitud" id="locador_longitud"/>
                            <input type="hidden" name="locador_pais" id="locador_pais"/>
                            <input type="hidden" name="locador_barrio" id="locador_barrio"/>
                            <input type="hidden" name="locador_localidad" id="locador_localidad"/>
                            <input type="hidden" name="locador_ciudad" id="locador_ciudad"/>
                            <input maxlength="252" class="ui-autocomplete-input" placeholder="Por ejemplo: Piedras 141, capital federal" type="text" name="con_locador_direccion" value/>
                        </div>
                        <div class="button">Siguiente</div>
                    </fieldset>
                    <fieldset class="section section_hidden">
                        <h3>Introduce los datos del Locatario</h3>
                        <div class="input-default ">
                            <label for="area-total">Nombre</label><input  maxlength="9" id="area-total" required="required" placeholder="Nombre" error-tag="span" error-class="form-error" error-content="Este campo es obligatorio" type="text" name="con_locatario_nombre" value="" class="form-control">
                        </div>
                        <div class="input-default ">
                            <label for="area-total">Apellido</label><input  maxlength="9" id="area-total" required="required" placeholder="Apellido" error-tag="span" error-class="form-error" error-content="Este campo es obligatorio" type="text" name="con_locatario_apellido" value="" class="form-control">
                        </div>
                        <div class="input-default ">
                            <label for="area-total">DNI</label><input  maxlength="9" id="area-total" required="required" placeholder="DNI" error-tag="span" error-class="form-error" error-content="Este campo es obligatorio" type="text" name="con_locatario_dni" value="" class="form-control">
                        </div>
                        <div class="col-md-6" style="margin-bottom: 10px;">
                            <label for="area-total">Sexo</label>
                            <select  name="con_locatario_sexo" >
                                <option value="femenino">Femenino</option>
                                <option value="masculino">Masculino</option>
                            </select>
                        </div>
                        <div class="input-default">
                            <label for="inputStreet">Dirección</label>
                            <input type="hidden" name="locatario_calle" id="locatario_calle"/>
                            <input type="hidden" name="locatario_altura" id="locatario_altura"/>
                            <input type="hidden" name="locatario_codigo_postal" id="locatario_codigo_postal"/>
                            <input type="hidden" name="locatario_latitud" id="locatario_latitud"/>
                            <input type="hidden" name="locatario_longitud" id="locatario_longitud"/>
                            <input type="hidden" name="locatario_pais" id="locatario_pais"/>
                            <input type="hidden" name="locatario_barrio" id="locatario_barrio"/>
                            <input type="hidden" name="locatario_localidad" id="locatario_localidad"/>
                            <input type="hidden" name="locatario_ciudad" id="locatario_ciudad"/>
                            <input maxlength="252" id="locatario_direccion" class="ui-autocomplete-input" placeholder="Por ejemplo: Piedras 141, capital federal" type="text" name="con_locatario_direccion" value/>
                        </div>
                        ¿Presenta Garantía?: <input type="checkbox" id="myCheck"  onclick="myFunction()">

                        <div id="text" style="display:none">
                        <h3>Introduce los datos del Fiador</h3>
                        <div class="input-default ui-widget">
                            <h3>Tipo de Garantía</h3>
                            <select  name='garantia_tipo' class="form-control">
                                {%for cada_tipo in tipo_garantias%}
                                    <option value="{{cada_tipo.getId}}">{{cada_tipo.getNombre}}</option>
                                {%endfor%}
                            </select>
                        </div> 
                        <div class="input-default ">
                            <label for="area-total">Nombre</label><input  maxlength="9" id="area-total" required="required" placeholder="Nombre" error-tag="span" error-class="form-error" error-content="Este campo es obligatorio" type="text" name="con_fiador_nombre" value="" class="form-control">
                        </div>
                        <div class="input-default ">
                            <label for="area-total">Apellido</label><input  maxlength="9" id="area-total" required="required" placeholder="Apellido" error-tag="span" error-class="form-error" error-content="Este campo es obligatorio" type="text" name="con_fiador_apellido" value="" class="form-control">
                        </div>
                        <div class="input-default ">
                            <label for="area-total">DNI</label><input  maxlength="9" id="area-total" required="required" placeholder="DNI" error-tag="span" error-class="form-error" error-content="Este campo es obligatorio" type="text" name="con_fiador_dni" value="" class="form-control">
                        </div>
                        <div class="col-md-6" style="margin-bottom: 10px;">
                            <label for="area-total">Sexo</label>
                            <select  name="con_fiador_sexo" >
                                <option value="femenino">Femenino</option>
                                <option value="masculino">Masculino</option>
                            </select>
                        </div>
                        <div class="input-default">
                            <label for="inputStreet">Dirección</label>
                            <input type="hidden" name="fiador_calle" id="fiador_calle"/>
                            <input type="hidden" name="fiador_altura" id="fiador_altura"/>
                            <input type="hidden" name="fiador_codigo_postal" id="fiador_codigo_postal"/>
                            <input type="hidden" name="fiador_latitud" id="fiador_latitud"/>
                            <input type="hidden" name="fiador_longitud" id="fiador_longitud"/>
                            <input type="hidden" name="fiador_pais" id="fiador_pais"/>
                            <input type="hidden" name="fiador_barrio" id="fiador_barrio"/>
                            <input type="hidden" name="fiador_localidad" id="fiador_localidad"/>
                            <input type="hidden" name="fiador_ciudad" id="fiador_ciudad"/>
                            <input maxlength="252" id="fiador_direccion" class="ui-autocomplete-input" placeholder="Por ejemplo: Piedras 141, capital federal" type="text" name="con_fiador_direccion" value/>
                        </div>
                        </div>
         

                        <div class="button">Siguiente</div>
                    </fieldset>
                    <fieldset class="section section_hidden">
                        <h3>Introduce los datos del Contrato</h3>
                        <label for="inputStreet">Valor del Alquiler</label>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <input maxlength="252" name="con_monto" placeholder="Valor Alquiler" type="text" />
                                </div>
                                <div class="col-md-6">
                                    <label>aumentos</label>
                                    <select id="tipo_pago" name="con_tipo_pago" >
                                        <option value="{{constant("TIPO_PAGO_CUATRIMESTRAL")}}">CUATRIMESTRAL</option>
                                        <option value="{{constant("TIPO_PAGO_SEMESTRAL")}}">SEMESTRAL</option>
                                        <option value="{{constant("TIPO_PAGO_MENSUAL")}}">MENSUAL</option>
                                        <option value="{{constant("TIPO_PAGO_ANUAL")}}">ANUAL</option>
                                    </select>
                                </div>
                                <div  class='col-md-3' >
                                    <div  class='form-group' >
                                        <label >porcentaje de aumentos</label>
                                        <input  type='number'  value='{{contrato.getEmail()}}'  name='con_porcentaje_aumento' />
                                    </div>
                                </div>
                                <div  class='col-md-3' >
                                    <div  class='form-group' >
                                        <label >email</label>
                                        <input  type='text'  value='{{contrato.getEmail()}}'  name='con_email' />
                                    </div>
                                </div>
                                <div  class='col-md-3' >
                                    <div  class='form-group' >
                                        <label>pago entre el día</label>
                                        <input type='number' name='con_locacion_pago_intervalo_del' />
                                    </div>
                                </div>
                                <div  class='col-md-3' >
                                    <div  class='form-group' >
                                        <label>pago hasta el día</label>
                                        <input type='number'name='con_locacion_pago_intervalo_al' />
                                    </div>
                                </div>
                                <div  class='col-md-3' >
                                    <div  class='form-group' >
                                        <label >destino locación</label>
                                        <select class="form-control" name="con_destino_locacion">
                                            <option value="familiar">familiar</option>
                                            <option value="comercial">comercial</option>
                                        </select>
                                    </div>
                                </div>
                                <div  class='col-md-3' >
                                    <div  class='form-group' >
                                        <label>fecha inicio contrato</label>
                                        <input class='datemask' type='text' name='con_fecha_inicio' />
                                    </div>
                                </div>
                                <div  class='col-md-3' >
                                    <div  class='form-group' >
                                        <label>duración contrato (meses)</label>
                                        <input type='number'  name='con_locacion_duracion' />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="button enviar_data">Siguiente</div>
                    </fieldset>
                    <fieldset class="section section_hidden">
                        <h3>Datos Enviados!</h3>
                        <p></p>
                        <div class="button">Finalizar</div>
                    </fieldset>

                </form>
            </div>
        </div>
        <script  src="{{base_url("public/web/js/")}}index.js"></script>
    </div>
</section>
{{ include("general/scripts_gmaps.twig") }}
<script type="text/javascript">
    $(document).ready(function () {
        $(".enviar_data").click(function () {
            $.post("{{base_url("ajax_contrato_alquiler")}}", {"{{get_token_name()}}": "{{get_token_hash()}}", data: $("#form_contrato_alquiler").serializeArray()}, function (data) {
                notificar({cuerpo: 'Por favor guarde el código de operación'.data, tipo: 'info', title: 'Perfecto'});
            });
        });
    });
</script>
<script>
function myFunction() {
    var checkBox = document.getElementById("myCheck");
    var text = document.getElementById("text");
    if (checkBox.checked == true){
        text.style.display = "block";
    } else {
       text.style.display = "none";
    }
}
</script>
{% endblock %}

