{% block head %}
    {{ include('general/header.twig') }}
{% endblock %}

<body>
    {% block content %}

    {% endblock %}   
</body>
{% block footer %}
    {{ include('general/footer.twig') }}
{% endblock %}

{% block scriptsGenerales %}
    {{ include('general/scripts_generales.twig') }}
{%endblock%}