<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        {% block head %}
            {{ include('header.twig') }}
        {% endblock %}
    </head>
    <body class="sidebar-mini skin-blue">
        <div class="wrapper">

            {% block topBar %}
                {{ include('topbar.twig') }}
            {% endblock %}

            {% block sideBar %}
                {{ include('sidebar.twig') }}
            {% endblock %}


            <div class="content-wrapper">
                <section class="content-header">
                </section>
                <div id="content">
                {% block content %}{% endblock %}
            </div>

        </div>
        {% block footer %}
            {{ include('footer_common.twig') }}
        {% endblock %}


        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; 2015-{{ "now"|date("Y") }} <a href="http://arg-it.com">Argit</a>.</strong> All rights
            reserved.
        </footer>
    </div>
</body>
</html>