
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{constant("SYSTEM_TITLE")}}</title>
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<noscript>
<style>html {
        display: none;
    }</style>
<meta http-equiv="refresh" content="0.0;url=public/nojs.php">
</noscript>
<!-- Bootstrap 3.3.6 -->
<link rel="stylesheet" href="{{ base_url("public/css/bootstrap.min.css") }}">
<!-- Font Awesome -->
<link rel="stylesheet" href="{{ base_url("/public/css/font-awesome/css/font-awesome.min.css") }}">
<!-- Ionicons -->
<link rel="stylesheet" href="{{ base_url("/public/css/ionics/css/ionicons.min.css") }}">
<!-- Theme style -->
<link rel="stylesheet" href="{{ base_url("public/css/AdminLTE.min.css") }}">
<!-- AdminLTE Skins. Choose a skin from the css/skins
     folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" href="{{ base_url("public/css/skins/skin-blue.min.css") }}">
<link rel="icon" href="{{base_url("public/img/")}}favicon.png" sizes="32x32" />

<!-- jQuery 2.2.3 -->
<script src="{{ base_url("public/plugins/jQuery/jquery-2.2.3.min.js") }}"></script>
<link rel="stylesheet" href="{{ base_url("public/js/loading/loading.css") }}">
<link rel="stylesheet" href="{{ base_url("public/css/style.css") }}">
<script src="{{ base_url("public/js/loading/loading.js") }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.es.min.js"></script>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->



