
<li>
    <a href="{{ base_url("admin-proveedor-dashboard") }}">
        <i class="fa fa-dashboard"></i> <span>Panel</span>
    </a>
</li>
<li>
    <a href="{{ base_url("admin-proveedor-mis-datos") }}">
        <i class="fa fa-user"></i> <span>Mis datos</span>
    </a>
</li>
<li>
    <a href="{{ base_url("admin-proveedor-radio-entrega") }}">
        <i class="fa fa-map-marker"></i> <span>Radio de entrega</span>
    </a>
</li>
<li>
    <a href="{{ base_url("admin-proveedor-productos-que-vendemos") }}">
        <i class="fa fa-list"></i> <span>Mis productos</span>
    </a>
</li>

<li>
    <a href="{{ base_url("admin-proveedor-mis-compras") }}">
        <i class="fa fa-dollar"></i> <span>Mis ventas</span>
    </a>
</li>
<li>
    <a href="{{ base_url("admin-proveedor-mis-liquidaciones") }}">
        <i class="fa fa-book"></i> <span>Mis facturas</span>
    </a>
</li>

<!--
<li>
    <a href="{{ base_url("admin-proveedor-consultas-administrador") }}">
        <i class="fa fa-question"></i> <span>Consultas al administrador</span>
    </a>
</li>
-->