<li>
    <a href="{{ base_url("admin-dashboard") }}">
        <i class="fa fa-dashboard"></i> <span>Panel</span>
    </a>
</li>
<li>
    <a href="{{ base_url("admin-contacto") }}">
        <i class="fa fa-envelope"></i> <span>Consultas</span>
    </a>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-envelope"></i> <span>Contratos</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="{{ base_url("admin-contrato?tipo=alquiler") }}"><i class="fa fa-circle text-red"></i> <span>Contrato alquiler</span></a></li>
        <!--<li><a href="{{ base_url("admin-contrato?tipo=compra-venta") }}"><i class="fa fa-circle text-blue"></i> <span>Boleto compra venta</span></a></li>
        <li><a href="{{ base_url("admin-contrato?tipo=informe-garantia") }}"><i class="fa fa-circle text-gray"></i> <span>Informe garantía</span></a></li>-->
    </ul>
</li>

<li class="treeview">
    <a href="#">
        <i class="fa fa-list"></i> <span>Configuraciones</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="{{ base_url("admin-tipoatributo") }}"><i class="fa fa-circle text-red"></i> <span>Tipo atributos</span></a></li>
        <li><a href="{{ base_url("admin-atributo") }}"><i class="fa fa-circle text-green"></i> <span>Atributos</span></a></li>
    </ul>
</li>
