<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{ base_url("public/img/logo_argit.png") }}" class="img-responsive" alt="Sesamo S.R.L"/>
            </div>
            <div class="pull-left info">
                <p>{{ session.nombre }} - {{ session.rol_nombre }}</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <ul class="sidebar-menu">
            {{ include("menu_admin.twig") }}
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
