<section  class='content' >
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{dashboard.cant_contratos_alquiler_pendiente}}</h3>
                    <p>Contratos alquiler pendientes</p>
                </div>
                <div class="icon">
                    <i class="fa fa-pause"></i>
                </div>
            </div>
        </div>
		<div class="col-lg-3 col-xs-6">
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{dashboard.cant_contratos_alquiler_pendiente}}</h3>
                    <p>Contratos alquiler enviados</p>
                </div>
                <div class="icon">
                    <i class="fa fa-flag-checkered"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-teal">
                <div class="inner">
                    <h3>{{dashboard.cant_consultas_pendientes}}</h3>
                    <p>Consultas pendientes</p>
                </div>
                <div class="icon">
                    <i class="fa fa-envelope"></i>
                </div>
            </div>
        </div>
    </div>
</section>

