{% set atributos =  {"id" : "formUsuario"} %}
{{ form_open("admin_guardar_usuario", atributos)|raw }}
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Alta y edición de usuarios</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i></button>

        </div>
    </div>
    <div class="box-body">
        <div class="col-md-12">
            <input type="hidden" name="usu_id" value="{{usuario.id}}" />
            <div class="col-md-3">
                <div class="form-group">
                    <label for="nombre">Usuario</label>
                    <input type="email" name="nombre_usuario" class="form-control" id="nombre" placeholder="email" required value="{{usuario.email}}" maxlength="40"  />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="nombre">Clave</label>
                    <input type="text" name="clave" class="form-control" id="clave"   maxlength="40" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="checkbox">
                    <label><input type="checkbox" value="1" name="cambiar_clave" checked id="cambiar_clave">Cambiar clave</label>
                    <label><input type="checkbox" value="1" name="forzar_cambio_clave" checked id="reset_clave">Forzar cambio clave</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="checkbox">
                    <label><input type="checkbox" value="1" name="fecha_baja" {{usuario.fecha_baja?"checked":""}}/>Eliminado</label>
                </div>
            </div>
                <div class="row"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="rol" class="col-sm-2 control-label">Nombre</label>
                    <input type="text" name="perfil_nombre"  value="{{usuario.perfil.nombre}}" class="form-control"   required />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="rol" class="col-sm-2 control-label">Apellido</label>
                    <input type="text" name="perfil_apellido"   value="{{usuario.perfil.apellido}}" class="form-control"  required />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="rol" class="col-sm-2 control-label">Teléfono</label>
                    <input type="text" name="perfil_telefono" value="{{usuario.perfil.telefono}}" class="form-control"  required />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="rol" class="col-sm-1 control-label">Rol</label>
                    <select name="rol" class="form-control">

                        {% for cada_rol in roles %}
                            <option {{usuario.rol.id==cada_rol.id?"selected":""}} value="{{cada_rol.id}}">{{cada_rol.nombre}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success pull-right">Guardar</button>
    </div>
</div>
