<section  class='content mayus' >
    {%if not usuario%}
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Usuarios</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-striped" id="tablaUsuarios" data-height="auto"
                       data-pagination="true"
                       data-search="true"
                       data-refresh="true"
                       data-show-refresh="true"
                       data-show-columns="true">
                    <thead>
                        <tr>
                            <th data-field="id" data-sortable="true">Id</th>
                            <th data-field="nombre" data-sortable="true">Usuario</th>
                            <th data-field="nombrePersona" data-sortable="true">Nombre y Apellido Persona</th>
                            <th data-field="rol" data-sortable="true">Rol</th>
                            <th   data-sortable="true">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for cada_usuario in usuarios%}
                            <tr>
                                <td >{{cada_usuario.id}}</th>
                                <td >{{cada_usuario.email}}</th>
                                <td >{{cada_usuario.nombrecompleto}}</th>
                                <td >{{cada_usuario.rol.nombre}}</th>
                                <td ><a href="{{base_url("usuarios/")}}{{cada_usuario.id}}" title="Editar">Editar</a></th>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>

                <ul id="context-menu" class="dropdown-menu">
                    <li data-item="edit"><a>Editar</a></li>
                    <li data-item="delete"><a>Borrar</a></li>
                </ul>
            </div>
        </div>
    {%endif%}
    {{ include('usuario/usuario_formulario.twig') }}
</section>
