<section  class='content mayus' >
    {%if proveedor is not defined %}
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Proveedores cargados</h3>
                <button type="button" class="btn btn-box-tool pull-right" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table id="tabla_consorcio" data-show-toggle="true" data-toggle="table" data-url="{{base_url("getProveedoresAjax")}}" 
                           data-side-pagination="server" data-sort-order="desc" data-search="true" data-pagination="true" data-page-list="[10, 50, 100, 200]" data-show-refresh="true" 
                           data-cache="false" data-height="auto" data-show-columns="true"  data-search-time-out="750" 
                           class="table table-responsive table-striped" data-page-size="100">
                        <thead>
                            <tr>
                                <th class="col-md-1" data-field="nombre_proveedor" data-align="left" data-sortable="true">proveedor</th>
                                <th class="col-md-1" data-field="cant_compras" data-align="left" data-sortable="true">compras</th>
                                <th class="col-md-1" data-field="telefono" data-align="left" data-sortable="true">telefono</th>
                                <th class="col-md-1" data-field="comision_balanceado" data-align="left" data-sortable="true">balanceado</th>
                                <th class="col-md-1" data-field="comision_piedras" data-align="left" data-sortable="true">piedras</th>
                                <th class="col-md-1" data-field="comision_accesorios" data-align="left" data-sortable="true">accesorios</th>
                                <th class="col-md-1" data-field="comision_medicamento" data-align="left" data-sortable="true">medicamento</th>
                                <th class="col-md-2" data-field="direccion" data-align="left" data-sortable="true">dirección</th>
                                <th class="col-md-2" data-field="acciones" data-align="left">acciones</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    {%endif%}


    {%if proveedor is defined %}
        {% set atributos =  {"id" : "formproducto", "class" : "form-vertical"} %}
        {{ form_open_multipart("admin-proveedor", atributos)|raw }}
        <div id="form_producto">
            <div  class='box box-primary' >
                <div  class='box-header' >
                    <h3 class='box-title'>{{producto ?"Editar":"Nuevo"}} Producto</h3>
                </div>
                <div  class='box-body' >
                    <div  class='col-md-3' >
                        <div  class='form-group' >
                            <label >comisión balanceado</label>
                            <input type="text" required="true" name="pro_comision_balanceado" value="{{proveedor.comision_balanceado}}" class="form-control"/>
                        </div>
                    </div>
                    <div  class='col-md-3' >
                        <div  class='form-group' >
                            <label >comisión accesorios</label>
                            <input type="text" required="true" name="pro_comision_accesorios" value="{{proveedor.comision_accesorios}}" class="form-control"/>
                        </div>
                    </div>
                    <div  class='col-md-3' >
                        <div  class='form-group' >
                            <label >comisión piedras</label>
                            <input type="text" required="true" name="pro_comision_piedras" value="{{proveedor.comision_piedras}}" class="form-control"/>
                        </div>
                    </div>
                    <div  class='col-md-3' >
                        <div  class='form-group' >
                            <label >comisión medicamento</label>
                            <input type="text" required="true" name="pro_comision_medicamento" value="{{proveedor.comision_medicamento}}" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div  class='col-md-12 pull-right' >
                    <input  class='btn-sm btn-primary pull-right'  type='submit'  value='guardar' />
                </div>
            </div>
        </div>
        <input  type='hidden'  value='{{proveedor.id}}'  name='pro_id' ></input>
    </form>
{%endif%}
</section>
