<!-- Bootstrap 3.3.6 -->
<script src="{{ base_url("public/js/bootstrap.min.js") }}"></script>
<script src="{{ base_url("public/js/bootstrap-confirmation.min.js") }}"></script>
<!-- SlimScroll -->
<script src="{{ base_url("public/plugins/slimScroll/jquery.slimscroll.min.js") }}"></script>
<!-- FastClick -->
<script src="{{ base_url("public/plugins/fastclick/fastclick.js") }}"></script>
<!-- AdminLTE App -->
<script src="{{ base_url("public/js/app.min.js") }}"></script>
<link rel="stylesheet" href=" {{ base_url("public/js/table/bootstrap-table.min.css") }}">
<script src="{{ base_url("public/js/table/bootstrap-table.min.js") }}"></script>
<script src="{{ base_url("public/js/table/locale/bootstrap-table-es-AR.min.js") }}"></script>
<script src="{{ base_url("public/js/context/bootstrap-table-contextmenu.min.js") }}"></script>
<script src="{{ base_url("public/js/form/jquery.form.js") }}"></script>
<link rel="stylesheet" href="{{ base_url("public/js/notify/animate.css") }}">
<script src="{{ base_url("public/js/notify/bootstrap-notify.min.js") }}"></script>
<script src="{{ base_url("public/js/validate/jquery.validate.min.js") }}"></script>
<script src="{{ base_url("public/js/validate/additional-methods.min.js") }}"></script>
<script src="{{ base_url("public/js/validate/localization/messages_es_AR.min.js") }}"></script>
<link rel="stylesheet" href="{{ base_url("public/js/sweetalert/sweetalert.css") }}">
<link rel="stylesheet" href="{{ base_url("public/js/select2/css/select2.min.css") }}">
<link rel="stylesheet" href="{{ base_url("public/js/select2/css/select2-bootstrap.min.css") }}">
<script src="{{ base_url("public/js/sweetalert/sweetalert.min.js") }}"></script>
<script src="{{ base_url("public/js/sweetalert/sweetalert.min.js") }}"></script>
<script src="{{ base_url("public/js/select2/js/select2.full.min.js") }}"></script>
<script src="{{ base_url("public/js/select2/js/i18n/es.js") }}"></script>
<script src="{{ base_url("public/js/mask/jquery.mask.min.js") }}"></script>


<link rel="stylesheet" href="{{ base_url("public/js/jquery-ui.min.css") }}">
<script src="{{ base_url("public/js/jquery-ui.min.js") }}"></script>


<!-- input mask -->
<script src="{{ base_url("public/plugins/input-mask/jquery.inputmask.js") }}"></script>
<script src="{{ base_url("public/plugins/input-mask/jquery.inputmask.date.extensions.js") }}"></script>
<script src="{{ base_url("public/plugins/input-mask/jquery.inputmask.numeric.extensions.js") }}"></script>
<script src="{{ base_url("public/plugins/input-mask/jquery.inputmask.extensions.js") }}"></script>

<script>
    $(function () {
        $('[data-mask]').inputmask();
        $('.datemask').inputmask('dd/mm/yyyy', {'placeholder': 'dd/mm/yyyy'});
        $('.cuitmask').inputmask('99-99999999-9');
        $('.phonemask').inputmask('(99999) 9999999999');
        $('.cbumask').inputmask('99999999-9999999999');
        $('.dnimask').inputmask('99999999');
        $('.moneymask').inputmask("decimal", {
            radixPoint: ".",
            groupSeparator: ",",
            digits: 0,
            autoGroup: true,
            rightAlign: false
        });
    });
    function base_url() {
        return '{{base_url}}';
    }

    var csrf_token_name = "<?= $this->security->get_csrf_token_name(); }}";
    var csrf_token_value = "<?= $this->security->get_csrf_hash() }}";

    function notificar(mensaje) {
        if (typeof mensaje === 'string') {
            swal({
                text: mensaje,
                type: 'success',
                confirmButtonText: 'Entendido'
            });
        } else {
            if (mensaje.src) {
                swal({
                    title: mensaje.title,
                    text: mensaje.cuerpo,
                    type: mensaje.tipo,
                    confirmButtonText: (mensaje.btn ? mensaje.btn : 'Entendido')
                }
                , function () {
                    window.location.href = mensaje.src;
                });
            } else {
                swal({
                    title: mensaje.title,
                    text: mensaje.cuerpo,
                    type: mensaje.tipo,
                    confirmButtonText: (mensaje.btn ? mensaje.btn : 'Entendido')
                });
            }
        }

    }

    function notify(texto, exito) {
        var type = "danger";
        if (exito == true || exito == "success") {
            type = "success";
        }
        $.notify('<strong>' + texto + '</strong>', {
            type: type,
            allow_dismiss: true,
            delay: 500
        });
    }
    function repoFormatResult(repo) {
        var markup = '<div class="row-fluid">' +
                '<div class="span10">' +
                '<div class="row-fluid">' +
                '<div class="span6">' + repo.text + '</div>' +
                '<div class="span3"><i class="fa fa-code-fork"></i> ' + repo.text + '</div>' +
                '</div>';
        if (repo.description) {
            markup += '<div>' + repo.description + '</div>';
        }
        markup += '</div></div>';
        return markup;
    }
    function repoFormatSelection(repo) {
        return repo.id;
    }
</script>



