<!DOCTYPE html><html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{{page_title}}</title>
        <link href="{{base_url("public/web/")}}css/styles.css" rel="stylesheet"/>
        <link rel="icon" href="{{base_url("public/web/images/")}}favicon.png" sizes="32x32" />
        <script src="{{ base_url("public/plugins/jQuery/jquery-2.2.3.min.js") }}"></script>
    </head>
