<div id="overlay" class="hidden" style="background: rgba(255,255,255,0.8) 
     url('{{base_url("public/web/")}}images/spinner.gif') no-repeat center center; width: 100%; height: 100%; position: fixed; z-index: 1000;">
</div>
<div class="main-nav navmenu navmenu-default navmenu-fixed-right offcanvas-sm hidden-lg hidden-md" style="">
    <ul class="mobile-nav-links animated">
        <li class="header">Menú<i class="fa fa-times header_close"></i></li>
        <li><a href="{{base_url("bienvenido")}}" rel="nofollow">Inicio</a></li>
        <li><a href="{{base_url("buscar-eventos")}}" rel="nofollow">Eventos</a></li>  
        <li><a href="https://facebook.com" rel="nofollow" target="_new">Fotos</a></li>
        <li><a href="{{base_url("eventos-para-grupo")}}" rel="nofollow">Eventos para grupos</a></li>
        <li><a href="{{base_url("tarjeta-de-regalo")}}" rel="nofollow">Tarjeta Regalo</a></li>
        <li><a href="{{base_url("tu-negocio")}}" >Tu Propio Negocio</a></li>
    </ul>
</div>
<nav class="main-nav asd">
    <a href="{{base_url("bienvenido")}}" rel="nofollow">
        <img class="desktop-logo" src="{{base_url("public/web/")}}assets/logo.png" alt="logo" />
    </a>
    <a href="{{base_url("bienvenido")}}" rel="nofollow"><img class="mobile-logo" src="{{base_url("public/web/")}}assets/logo.png" alt="logo" /></a>
    <ul class="main-nav-links">
        <li><a href="{{base_url("buscar-eventos")}}" rel="nofollow">Eventos</a></li>     
        <li><a href="https://facebook.com" rel="nofollow" target="_new">Fotos</a></li>
        <li><a href="{{base_url("eventos-para-grupo")}}" rel="nofollow">Eventos para grupos</a></li>
        <li><a href="{{base_url("tarjeta-de-regalo")}}" rel="nofollow">Tarjeta Regalo</a></li>  
        <li><a href="{{base_url("tu-negocio")}}" >Tu Propio Negocio</a></li>
    </ul>

    <ul class="nav-icon-links">
        <li  data-target=".navmenu" data-toggle="offcanvas"><i class="fa fa-bars"></i>
        </li>
    </ul>
</nav>