
<script src = "https://maps.googleapis.com/maps/api/js?libraries=places&key={{constant("GMAPS_KEY")}}" type = "text/javascript" ></script>
<script type = "text/javascript">

    function crearMapa(latitud_cliente, longitud_cliente, mapa) {
        $("#iframe_mapa").hide();
        $("#map_vivienda").show();
        lat_val = parseFloat(latitud_cliente);
        lng_val = parseFloat(longitud_cliente);
        map = new google.maps.Map(document.getElementById(mapa), {
            center: {lat: lat_val, lng: lng_val},
            zoom: 15
        });
        var marker = new google.maps.Marker({
            position: {lat: lat_val, lng: lng_val},
            map: map,
            title: 'Vos'
        });
    }
    function initialize() {
        if ($("#inputStreet").length > 0) {
            var input = document.getElementById('inputStreet');
            var autocomplete = new google.maps.places.Autocomplete(input);
            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                place = autocomplete.getPlace();
                document.getElementById('vivienda_latitud').value = place.geometry.location.lat();
                document.getElementById('vivienda_longitud').value = place.geometry.location.lng();
                console.log(place);
                for (var i = 0; i < place.address_components.length; i++) {
                    var addressType = place.address_components[i].types[0];
                    var value = place.address_components[i].short_name;
                    if (addressType == "postal_code") {
                        $("#vivienda_codigo_postal").val(value);
                    }
                    if (addressType == "street_number") {
                        $("#vivienda_altura").val(value);
                    }
                    if (addressType == "sublocality_level_1") {
                        $("#vivienda_barrio").val(value);
                    }
                    if (addressType == "route") {
                        $("#vivienda_calle").val(value);
                    }
                    if (addressType == "locality") {
                        $("#vivienda_localidad").val(value);
                    }
                    if (addressType == "administrative_area_level_1") {
                        pos_borrar = value.toLowerCase().indexOf("provincia de ");
                        if (pos_borrar != -1) {
                            value = value.substring(13);
                        }
                        $("#vivienda_ciudad").val(value);
                    }
                    if (addressType == "country") {
                        $("#vivienda_pais").val(place.address_components[i].long_name);
                    }
                }
                crearMapa($("#vivienda_latitud").val(), $("#vivienda_longitud").val(), "map_vivienda");
            });
        }
        
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>