

<!--picker full screen-->
<link rel="stylesheet" href="{{ base_url("public/web/css/themes/default.css")}}">
<link rel="stylesheet" href="{{ base_url("public/web/css/themes/default.date.css")}}">
<script src="{{ base_url("public/web/js/picker.js")}}"></script>
<script src="{{ base_url("public/web/js/picker.date.js")}}"></script>
<script src="{{ base_url("public/web/js/legacy.js")}}"></script>

<!-- message box swall-->
<script src="{{ base_url("public/web/bower_components/alert/sweetalert2.all.min.js")}}"></script>
<link rel="stylesheet" href="{{ base_url("public/web/bower_components/alert/sweetalert2.min.css")}}">
<!-- FIN message box swall-->

