<input type="hidden" id="city2" name="city2" value="{{domicilio.ciudad}}" />
<input type="hidden" id="cityLat" name="cityLat" value="{{domicilio.latitud}}" />
<input type="hidden" id="cityLng" name="cityLng" value="{{domicilio.longitud}}" />  
<input type="hidden" name="cld_id" value="{{domicilio.id}}" />
<div  class='box box-primary' >
    <div  class='box-header' >
        <h3 class='box-title'>Domicilio</h3>
    </div>
    <div  class='box-body' >
        <div class="form-group">
            <label for="nombre">Su dirección (sin piso ni interior) y seleccione opción</label>
            <input type="text" name="direccion" id="calle3" class="form-control" value='{{domicilio.direccion_completa?domicilio.direccion_completa:""}}' placeholder="Av. Santa Fe 5200, palermo, capital federal" autocomplete="on" runat="server"/>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="form-group">
                    <label for="nombre">Calle</label>
                    <input  type="text" name="calle" id="route" class="form-control" autocomplete="on" runat="server" value="{{domicilio.calle}}" title="" required="required"/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="altura">Número</label>
                    <input  type="text" class="form-control" id="altura" placeholder="" name="altura"
                            value="{{domicilio.altura}}"/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="localidad">Barrio</label>
                    <input  type="text" name="barrio" id="barrio" class="form-control" placeholder=""
                            value="{{domicilio.barrio}}" title="" required="required">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="altura">Ciudad</label>
                    <input  type="text" class="form-control" id="city" placeholder="" name="ciudad"
                            value="{{domicilio.ciudad}}">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="altura">País</label>
                    <input  type="text" class="form-control" id="pais" placeholder="" name="pais"
                            value="{{domicilio.pais}}">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="altura">Piso</label>
                    <input  type="text"  class="form-control" id="piso" placeholder="" name="piso"
                            value="{{domicilio.piso}}">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="depto">Departamento</label>
                    <input  type="text" class="form-control" id="depto" placeholder="" name="depto"
                            value="{{domicilio.depto}}">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="altura">Código Postal</label>
                    <input  type="text" class="form-control" id="cod_postal" placeholder=" " name="cod_postal"
                            value="{{domicilio.cod_postal}}">
                </div>
            </div>
        </div>
        <input  type="hidden" value="1" name="preferente"/>
    </div>
</div>
</div>

<script src = "https://maps.googleapis.com/maps/api/js?libraries=places&key={{constant("GMAPS_KEY")}}" type = "text/javascript" ></script>
<script type = "text/javascript">
    $('#form_domicilio,#form_punto_venta').submit(function (e) {
        if (($("#cityLat2").length > 0 && !$("#cityLat2").val()) || ($("#cityLat").length > 0 && !$("#cityLat").val())) {
            e.preventDefault();
            alert('Debe seleccionar una opcion de domicilio en direccion completa');
        }
    });
    var place = "{{domicilio ? 1 : 0 }}";
    function popupInfoDomicilio() {
        if (!place) {
            alert('debe elegir una de las opciones mostradas de domicilio');
            return;
        }
        $('.container_domicilio_1').hide();
        $('.container_domicilio_2').show();
    }
    function initialize() {
        if ($("#calle3").length > 0) {
            var input = document.getElementById('calle3');
            var autocomplete = new google.maps.places.Autocomplete(input);
            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                place = autocomplete.getPlace();
                document.getElementById('cityLat').value = place.geometry.location.lat();
                document.getElementById('cityLng').value = place.geometry.location.lng();
                $("#cod_postal").val("");
                $("#barrio").val("");
                $("#route").val("");
                $("#altura").val("");
                $("#localidad").val("");
                $("#city").val("");
                $("#pais").val("");
                console.log(place);
                for (var i = 0; i < place.address_components.length; i++) {
                    var addressType = place.address_components[i].types[0];
                    var value = place.address_components[i].short_name;
                    if (addressType == "postal_code") {
                        $("#cod_postal").val(value);
                    }
                    if (addressType == "street_number") {
                        $("#altura").val(value);
                    }
                    if (addressType == "sublocality_level_1") {
                        $("#barrio").val(value);
                    }
                    if (addressType == "route") {
                        $("#route").val(value);
                    }
                    if (addressType == "locality") {
                        $("#localidad").val(value);
                    }
                    if (addressType == "administrative_area_level_1") {
                        pos_borrar = value.toLowerCase().indexOf("provincia de ");
                        if (pos_borrar != -1) {
                            value = value.substring(13);
                        }
                        $("#city").val(value);
                    }
                    if (addressType == "country") {
                        $("#pais").val(place.address_components[i].long_name);
                    }
                }
            });
        }
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>