<div  class='box box-primary' >
    <div  class='box-header' >
        <h3 class='box-title'>Facturación</h3>
    </div>
    <div  class='box-body' >
        <div  class='col-md-3' >
            <div  class='form-group' >
                <label >forma_pago</label>
                <select  class='form-control'  name='eve_forma_pago' >
                    <option  selected='true'  value='efectivo' >efectivo</option>
                    <option  value='tarjeta' >tarjeta</option>
                </select>
            </div>
        </div>
        <div  class='col-md-3' >
            <div  class='form-group' >
                <label >importe</label>
                <input  class='form-control'  type='text'  value='{{evento.importe}}'  name='eve_importe' ></input>
            </div>
        </div>
        <div  class='col-md-3' >
            <div  class='form-group' >
                <label >moneda</label>
                <select  class='form-control'  name='eve_moneda' ><option  selected='true'  value='peso argentino' >peso argentino</option>
                    <option  value='dolar' >dolar</option>
                </select>
            </div>
        </div>
        <div  class='col-md-3' >
            <div  class='form-group' >
                <label >fee</label>
                <input  class='form-control'  type='text'  value='{{evento.fee}}'  name='eve_fee' ></input>
            </div>
        </div>
    </div>
</div>