<section  class='content mayus' >
    {%if evento is not defined %}
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Evento cargados</h3>
                <button type="button" class="btn btn-box-tool pull-right" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table id="tabla_consorcio" data-show-toggle="true" data-toggle="table" data-url="getEventoAjax" 
                           data-side-pagination="server" data-search="true" data-pagination="true" data-page-list="[5, 10, 20, 50, 100, 200]" data-show-refresh="true" 
                           data-cache="false" data-height="auto" data-show-columns="true"  data-search-time-out="750" data-sort-order="desc"
                           class="table table-responsive table-striped" data-page-size="20">
                        <thead>
                            <tr>
                                <th class="col-md-1" data-field="titulo" data-align="left" data-sortable="true">titulo</th>
                                <th class="col-md-1" data-field="fecha_evento" data-align="left" data-sortable="true">fecha_evento</th>
                                <th class="col-md-1" data-field="capacidad" data-align="left" data-sortable="true">capacidad</th>
                                <th class="col-md-1" data-field="descripcion" data-align="left" data-sortable="true">descripcion</th>
                                <th class="col-md-1" data-field="notas" data-align="left" data-sortable="true">notas</th>
                                <th class="col-md-1" data-field="domicilio" data-align="left" data-sortable="true">domicilio</th>
                                <th class="col-md-1" data-field="importe" data-align="left" data-sortable="true">importe</th>
                                <th class="col-md-1" data-field="fee" data-align="left" data-sortable="true">fee</th>
                                <th class="col-md-1" data-field="recaudador_nombre" data-align="left" data-sortable="true">recaudador_nombre</th>
                                <th class="col-md-1" data-field="recaudador_email" data-align="left" data-sortable="true">recaudador_email</th>
                                <th class="col-md-1" data-field="recaudador_codigo" data-align="left" data-sortable="true">recaudador_codigo</th>
                                <th class="col-md-1" data-field="recaudador_porcentaje" data-align="left" data-sortable="true">recaudador_porcentaje</th>
                                <th class="col-md-1" data-field="empresa" data-align="left" data-sortable="true">empresa</th>
                                <th class="col-md-1" data-field="asistente" data-align="left" data-sortable="true">asistente</th>
                                <th class="col-md-1" data-field="lugar" data-align="left" data-sortable="true">lugar</th>
                                <th class="col-md-1" data-field="artista" data-align="left" data-sortable="true">artista</th>
                                <th class="col-md-1" data-field="pintura" data-align="left" data-sortable="true">pintura</th>
                                <th class="col-md-1" data-field="forma_pago" data-align="left" data-sortable="true">forma_pago</th>
                                <th class="col-md-1" data-field="moneda" data-align="left" data-sortable="true">moneda</th>
                                <th class="col-md-1" data-field="recaudador_caridad" data-align="left" data-sortable="true">recaudador_caridad</th>
                                <th class="col-md-1" data-field="acciones" data-align="left">Acciones</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    {%endif%}

    <button type="button" {{ evento?"style='display:none'":""}} class="btn btn-success pull-right" onclick="$('#form_evento').show();" >Nuevo Evento</button>
    <div id="form_evento" {{not evento ?"style='display:none'":""}}>
        {% set atributos =  {"id" : "formevento", "class" : "form-vertical"} %}
        {{ form_open("admin-evento", atributos)|raw }}
        <div  class='box box-primary' >
            <div  class='box-header' >
                <h3 class='box-title'>{{evento ?"Editar":"Nuevo"}} Evento</h3>
            </div>
            <div  class='box-body' >
                <div  class='col-md-3' >
                    <div  class='form-group' >
                        <label >titulo</label>

                        <input  class='form-control'  type='text'  value='{{evento.titulo}}'  name='eve_titulo' ></input>

                    </div>

                </div>
                <div  class='col-md-3' >
                    <div  class='form-group' >
                        <label >empresa</label>

                        <select  class='form-control'  name='eve_empresa' >
                            {%for cada_empresa in empresas%}
                                <option value="{{cada_empresa.getid}}">{{cada_empresa.getNombre}}</option>
                            {%endfor%}
                        </select>
                    </div>

                </div>
                <div  class='col-md-3' >
                    <div  class='form-group' >
                        <label >asistente</label>
                        <select  class='form-control'  name='eve_asistente' >
                            {%for cada_asistente in asistentes%}
                                <option value="{{cada_asistente.getid}}">{{cada_asistente.getNombre}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
                <div  class='col-md-3' >
                    <div  class='form-group' >
                        <label >lugar</label>

                        <select  class='form-control'  name='eve_lugar' >
                            {%for cada_lugar in lugares%}
                                <option {{evento.getLugar.getId==cada_lugar.getId?"selected":""}} value="{{cada_lugar.getid}}">{{cada_lugar.getNombre}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
                <div  class='col-md-3' >
                    <div  class='form-group' >
                        <label >artista</label>
                        <select  class='form-control'  name='eve_artista' >
                            {%for cada_artista in artistas%}
                                <option {{evento.getArtista.getId==cada_artista.getId?"selected":""}} value="{{cada_artista.getid}}">{{cada_artista.getNombreCompleto}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
                <div  class='col-md-3' >
                    <div  class='form-group' >
                        <label >pintura</label>
                        <select  class='form-control'  name='eve_pintura' >
                            {%for cada_pintura in pinturas%}
                                <option {{evento.getPintura.getId==cada_pintura.getId?"selected":""}} value="{{cada_pintura.getid}}">{{cada_pintura.getNombreCompleto}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
                <div  class='col-md-3' >
                    <div  class='form-group' >
                        <label >fecha_evento</label>
                        <input  class='form-control'  type='datetime-local'  value='{{evento.getFecha_evento|date("d/m/Y H:i")}}'  name='eve_fecha_evento' ></input>
                    </div>
                </div>
                <div  class='col-md-3' >
                    <div  class='form-group' >
                        <label >capacidad</label>
                        <input  class='form-control'  type='text'  value='{{evento.capacidad}}'  name='eve_capacidad' ></input>
                    </div>
                </div>
                <div class="row"></div>
                <div  class='col-md-12' >
                    <div  class='form-group' >
                        <label >descripcion</label>
                        <input  class='form-control' rows="10" type='text'  value='{{evento.descripcion}}'  name='eve_descripcion' ></input>
                    </div>
                </div>
                <div  class='col-md-12' >
                    <div  class='form-group' >
                        <label >notas</label>

                        <input  class='form-control' rows="10" type='text'  value='{{evento.notas}}'  name='eve_notas' ></input>

                    </div>
                </div>              
            </div>
            <div class="row"></div>
            {% include 'evento/evento_facturacion.twig'%}
            <div class="row"></div>
            {% include 'evento/evento_recaudador.twig'%}
            <div  class='col-md-12 pull-right' ><input  class='btn-sm btn-primary pull-right'  type='submit'  value='guardar' ></div>
        </div>
        <input  type='hidden'  value='{{evento.id}}'  name='eve_id' ></input>
        </form>
    </div>
</section>
