<div  class='box box-primary' >
    <div  class='box-header' >
        <h3 class='box-title'>Recaudador</h3>
    </div>
    <div  class='box-body' >
        <div  class='col-md-3' >
            <div  class='form-group' >
                <label >recaudador_nombre</label>

                <input  class='form-control'  type='text'  value='{{evento.recaudador_nombre}}'  name='eve_recaudador_nombre' ></input>

            </div>

        </div>
        <div  class='col-md-3' >
            <div  class='form-group' >
                <label >recaudador_email</label>

                <input  class='form-control'  type='text'  value='{{evento.recaudador_email}}'  name='eve_recaudador_email' ></input>

            </div>

        </div>
        <div  class='col-md-3' >
            <div  class='form-group' >
                <label >recaudador_codigo</label>

                <input  class='form-control'  type='text'  value='{{evento.recaudador_codigo}}'  name='eve_recaudador_codigo' ></input>

            </div>

        </div>
        <div  class='col-md-3' >
            <div  class='form-group' >
                <label >recaudador_porcentaje</label>

                <input  class='form-control'  type='text'  value='{{evento.recaudador_porcentaje}}'  name='eve_recaudador_porcentaje' ></input>

            </div>

        </div>


        <div  class='col-md-3' ><div  class='form-group' ><label >es caridad</label>
                <input  class='form-group'  type='checkbox'  value='1'  name='eve_recaudador_caridad' >si</input>

            </div>

        </div>
    </div>
</div>