<section  class='content mayus' >
    {%if asistente is not defined %}
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Asistente cargados</h3>
                <button type="button" class="btn btn-box-tool pull-right" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table id="tabla_consorcio" data-show-toggle="true" data-toggle="table" data-url="getAsistenteAjax" 
                           data-side-pagination="server" data-search="true" data-pagination="true" data-page-list="[5, 10, 20, 50, 100, 200]" data-show-refresh="true" 
                           data-cache="false" data-height="auto" data-show-columns="true"  data-search-time-out="750" 
                           class="table table-responsive table-striped" data-page-size="20">
                        <thead>
                            <tr>
                                <th class="col-md-1" data-field="nombre" data-align="left" data-sortable="true">nombre</th>
                                <th class="col-md-1" data-field="apellido" data-align="left" data-sortable="true">apellido</th>
                                <th class="col-md-1" data-field="telefono" data-align="left" data-sortable="true">telefono</th>
                                <th class="col-md-1" data-field="empresa" data-align="left" data-sortable="true">empresa</th>
                                <th class="col-md-1" data-field="licencia" data-align="left" data-sortable="true">licencia</th>
                                <th class="col-md-1" data-field="domicilio" data-align="left" data-sortable="true">domicilio</th>
                                <th class="col-md-1" data-field="lunes" data-align="left" data-sortable="true">lunes</th>
                                <th class="col-md-1" data-field="martes" data-align="left" data-sortable="true">martes</th>
                                <th class="col-md-1" data-field="miercoles" data-align="left" data-sortable="true">miercoles</th>
                                <th class="col-md-1" data-field="jueves" data-align="left" data-sortable="true">jueves</th>
                                <th class="col-md-1" data-field="viernes" data-align="left" data-sortable="true">viernes</th>
                                <th class="col-md-1" data-field="sabado" data-align="left" data-sortable="true">sabado</th>
                                <th class="col-md-1" data-field="domingo" data-align="left" data-sortable="true">domingo</th>
                                <th class="col-md-1" data-field="acciones" data-align="left">Acciones</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    {%endif%}

    <button type="button" {{ asistente?"style='display:none'":""}} class="btn btn-success pull-right" onclick="$('#form_asistente').show();" >Nuevo Asistente</button>
    <div id="form_asistente" {{not asistente ?"style='display:none'":""}}>
        {% set atributos =  {"id" : "formasistente", "class" : "form-vertical"} %}
        {{ form_open("admin-asistente", atributos)|raw }}
        <div  class='box box-primary' >
            <div  class='box-header' >
                <h3 class='box-title'>{{asistente ?"Editar":"Nuevo"}} Asistente</h3>
            </div>
            <div  class='box-body' >
                <div  class='col-md-3' >
                    <div  class='form-group' >
                        <label >nombre</label>
                        <input  class='form-control'  type='text'  value='{{asistente.nombre}}'  name='asi_nombre' ></input>
                    </div>
                </div>
                <div  class='col-md-3' >
                    <div  class='form-group' >
                        <label >apellido</label>
                        <input  class='form-control'  type='text'  value='{{asistente.apellido}}'  name='asi_apellido' ></input>
                    </div>
                </div>
                <div  class='col-md-3' >
                    <div  class='form-group' >
                        <label >telefono</label>
                        <input  class='form-control'  type='text'  value='{{asistente.telefono}}'  name='asi_telefono' ></input>
                    </div>
                </div>
                <div  class='col-md-3' >
                    <div  class='form-group' >
                        <label >empresa</label>
                        <select  class='form-control'  name='asi_empresa' >
                            {%for cada_empresa in empresas%}
                                <option value="{{cada_empresa.getid}}">{{cada_empresa.getNombre}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
                <div  class='col-md-3' >
                    <div  class='form-group' >
                        <label >licencia</label>
                        <select  class='form-control'  name='asi_licencia' >
                            {%for cada_licencia in licencias%}
                                <option value="{{cada_licencia.getid}}">{{cada_licencia.getNombre}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
                <div class="row"></div>
                <div  class='col-md-3' ><div  class='form-group' ><label >lunes</label>
                        <input  class='form-group'  type='checkbox'  value='1'  name='asi_lunes' />si
                    </div>
                </div>
                <div  class='col-md-3' ><div  class='form-group' ><label >martes</label>
                        <input  class='form-group'  type='checkbox'  value='1'  name='asi_martes' />si
                    </div>
                </div>
                <div  class='col-md-3' ><div  class='form-group' ><label >miercoles</label>
                        <input  class='form-group'  type='checkbox'  value='1'  name='asi_miercoles' />si
                    </div>
                </div>
                <div  class='col-md-3' ><div  class='form-group' ><label >jueves</label>
                        <input  class='form-group'  type='checkbox'  value='1'  name='asi_jueves' />su
                    </div>
                </div>
                <div  class='col-md-3' ><div  class='form-group' ><label >viernes</label>
                        <input  class='form-group'  type='checkbox'  value='1'  name='asi_viernes' />si
                    </div>
                </div>
                <div  class='col-md-3' ><div  class='form-group' ><label >sabado</label>
                        <input  class='form-group'  type='checkbox'  value='1'  name='asi_sabado' />si
                    </div>
                </div>
                <div  class='col-md-3' ><div  class='form-group' ><label >domingo</label>
                        <input  class='form-group'  type='checkbox'  value='1'  name='asi_domingo' />si
                    </div>
                </div>
            </div>
            {% include 'evento/domicilio.twig' with{"domicilio":asistente.getdomicilio}%}
            <div  class='col-md-12 pull-right' ><input  class='btn-sm btn-primary pull-right'  type='submit'  value='guardar' ></input>
            </div>
        </div>
        <input  type='hidden'  value='{{asistente.id}}'  name='asi_id' ></input>
        </form>
    </div>
</section>
