{% extends "template.twig" %}

{% block title %}
Index
{% endblock %}
{% block head %}
{{ parent() }}
<style type="text/css">
.important {
	color: #336699;
}
</style>
{% endblock %}
{% block content %}
<h1>Index</h1>
{{ usuario.getEmail() }} XX
<p class="important">Welcome to my awesome homepage.</p>
{% endblock %}